In [5]:
#1
import pandas as pd
data =[10,20,30,40,50]
series= pd.Series(data,index=[1,2,3,4,5])
print("\nSeries example:\n")
print(series)

Series example:

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [38]:
#2
dict_student={
    'student_Name':['mukta','aishwarya','sanika','mahek','bhakti'],
    'Math':[ 60,65,70,75,80],
    'Science':[70,65,80,75,60],
    'English':[60,56,78,80,70]
}

df=pd.DataFrame(dict_student)
print(df)
top_3=df.head(3)
print("\ntop 3 rows in dataframe \n: ", top_3)
df.columns = df.columns.str.strip()
print(df.columns)

  student_Name  Math  Science  English
0        mukta    60       70       60
1    aishwarya    65       65       56
2       sanika    70       80       78
3        mahek    75       75       80
4       bhakti    80       60       70

top 3 rows in dataframe
:    student_Name  Math  Science  English
0        mukta    60       70       60
1    aishwarya    65       65       56
2       sanika    70       80       78
Index(['student_Name', 'Math', 'Science', 'English'], dtype='object')

In [40]:
#4
df['Total_marks']=df['Math']+df['Science']+df['English']
df['Average']=df['Total_marks']/3
print(df)

  student_Name  Math  Science  English  Total_marks    Average
0        mukta    60       70       60          190  63.333333
1    aishwarya    65       65       56          186  62.000000
2       sanika    70       80       78          228  76.000000
3        mahek    75       75       80          230  76.666667
4       bhakti    80       60       70          210  70.000000

In [50]:
#5
df.loc[1,'Science']=None
print("Missing value:",df)
print(df.isnull())
df['Science'].fillna(df['Science'].mean(),inplace=True)

Missing value:   student_Name  Math  Science  English  Total_marks    Average
0        mukta    60     70.0       60          190  63.333333
1    aishwarya    65      NaN       56          186  62.000000
2       sanika    70     80.0       78          228  76.000000
3        mahek    75     75.0       80          230  76.666667
4       bhakti    80     60.0       70          210  70.000000
   student_Name   Math  Science  English  Total_marks  Average
0         False  False    False    False        False    False
1         False  False     True    False        False    False
2         False  False    False    False        False    False
3         False  False    False    False        False    False
4         False  False    False    False        False    False

C:\Users\Isha\AppData\Local\Temp\ipykernel_22484\554928764.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Science'].fillna(df['Science'].mean(),inplace=True)

In [51]:
#6
print(df[df['Average']>75])

  student_Name  Math  Science  English  Total_marks    Average
2       sanika    70     80.0       78          228  76.000000
3        mahek    75     75.0       80          230  76.666667

In [54]:
#7
df_sorted=df.sort_values(by="Total_marks",ascending=False)
top_3 = df_sorted.head(3)
print(top_3)

  student_Name  Math  Science  English  Total_marks    Average
3        mahek    75     75.0       80          230  76.666667
2       sanika    70     80.0       78          228  76.000000
4       bhakti    80     60.0       70          210  70.000000

In [35]:
#3
df=pd.read_csv(r"C:\Users\Isha\Downloads\data.csv")
print(df)

   Name  Age    City
0  Isha   22    Pune
1  Amit   25  Mumbai
2  Neha   24   Delhi

In [36]:
print(df.shape)
print(df.columns)

(3, 3)
Index(['Name', 'Age', 'City'], dtype='object')

In [57]:
#Group students based on their "English" score range (like above or below 70)
#     and find the mean of "Maths" and "Science" marks for each group

result = df.groupby('English').agg({
    'Math': 'mean',
    'Science': 'mean'
})

print(result)

         Math  Science
English
56       65.0    71.25
60       60.0    70.00
70       80.0    60.00
78       70.0    80.00
80       75.0    75.00

In [58]:
df_marks = pd.DataFrame({
    'Student_Name': ['Amit', 'Neha', 'Rahul', 'Sneha'],
    'Total_Marks': [250, 270, 260, 280]
})


df_sports = pd.DataFrame({
    'Student_Name': ['Amit', 'Neha', 'Rahul', 'Sneha'],
    'Sports_Score': [20, 25, 18, 30]
})
merged_df = pd.merge(df_marks, df_sports, on='Student_Name')
print(merged_df)
merged_df['Overall_Score'] = merged_df['Total_Marks'] + merged_df['Sports_Score']
print(merged_df)

  Student_Name  Total_Marks  Sports_Score
0         Amit          250            20
1         Neha          270            25
2        Rahul          260            18
3        Sneha          280            30
  Student_Name  Total_Marks  Sports_Score  Overall_Score
0         Amit          250            20            270
1         Neha          270            25            295
2        Rahul          260            18            278
3        Sneha          280            30            310

In [61]:
# Define Desktop path
import os
desktop_path = os.path.join(os.path.expanduser("~"), "Desktop")

# File path
file_path = os.path.join(desktop_path, "final_student_scores.csv")

# Export to CSV
merged_df.to_csv(file_path, index=False)

if os.path.exists(file_path):
    print("File successfully created on Desktop.")
else:
    print("File not found.")

File successfully created on Desktop.