In [16]:
import pandas as pd

products = ["Mobile", "Laptop", "Mouse", "Keyboard", "Headphones"]
reviews=["good","average","excellent"]
df = pd.DataFrame({
    "Order_Id": [x for x in range(1, 51)],
    "Customer_Id": [100 + x for x in range(50)],
    "Product": [products[i % 5] for i in range(50)],
    "Category": ["Electronics"]*50,
    "Quantity": [(i % 3) + 1 for i in range(50)],
    "Price": [15000, 50000, 500, 1200, 2500] * 10,
    "Rating": [(i % 5) + 1 for i in range(50)],
    "OrderDate": pd.date_range(start="2023-01-01", periods=50, freq="7D"),
    "Review":[reviews[i%3] for i in range(1,51)]

})

print(df)

    Order_Id  Customer_Id     Product     Category  Quantity  Price  Rating  \
0          1          100      Mobile  Electronics         1  15000       1
1          2          101      Laptop  Electronics         2  50000       2
2          3          102       Mouse  Electronics         3    500       3
3          4          103    Keyboard  Electronics         1   1200       4
4          5          104  Headphones  Electronics         2   2500       5
5          6          105      Mobile  Electronics         3  15000       1
6          7          106      Laptop  Electronics         1  50000       2
7          8          107       Mouse  Electronics         2    500       3
8          9          108    Keyboard  Electronics         3   1200       4
9         10          109  Headphones  Electronics         1   2500       5
10        11          110      Mobile  Electronics         2  15000       1
11        12          111      Laptop  Electronics         3  50000       2
12        13          112       Mouse  Electronics         1    500       3
13        14          113    Keyboard  Electronics         2   1200       4
14        15          114  Headphones  Electronics         3   2500       5
15        16          115      Mobile  Electronics         1  15000       1
16        17          116      Laptop  Electronics         2  50000       2
17        18          117       Mouse  Electronics         3    500       3
18        19          118    Keyboard  Electronics         1   1200       4
19        20          119  Headphones  Electronics         2   2500       5
20        21          120      Mobile  Electronics         3  15000       1
21        22          121      Laptop  Electronics         1  50000       2
22        23          122       Mouse  Electronics         2    500       3
23        24          123    Keyboard  Electronics         3   1200       4
24        25          124  Headphones  Electronics         1   2500       5
25        26          125      Mobile  Electronics         2  15000       1
26        27          126      Laptop  Electronics         3  50000       2
27        28          127       Mouse  Electronics         1    500       3
28        29          128    Keyboard  Electronics         2   1200       4
29        30          129  Headphones  Electronics         3   2500       5
30        31          130      Mobile  Electronics         1  15000       1
31        32          131      Laptop  Electronics         2  50000       2
32        33          132       Mouse  Electronics         3    500       3
33        34          133    Keyboard  Electronics         1   1200       4
34        35          134  Headphones  Electronics         2   2500       5
35        36          135      Mobile  Electronics         3  15000       1
36        37          136      Laptop  Electronics         1  50000       2
37        38          137       Mouse  Electronics         2    500       3
38        39          138    Keyboard  Electronics         3   1200       4
39        40          139  Headphones  Electronics         1   2500       5
40        41          140      Mobile  Electronics         2  15000       1
41        42          141      Laptop  Electronics         3  50000       2
42        43          142       Mouse  Electronics         1    500       3
43        44          143    Keyboard  Electronics         2   1200       4
44        45          144  Headphones  Electronics         3   2500       5
45        46          145      Mobile  Electronics         1  15000       1
46        47          146      Laptop  Electronics         2  50000       2
47        48          147       Mouse  Electronics         3    500       3
48        49          148    Keyboard  Electronics         1   1200       4
49        50          149  Headphones  Electronics         2   2500       5

    OrderDate     Review
0  2023-01-01    average
1  2023-01-08  excellent
2  2023-01-15       good
3  2023-01-22    average
4  2023-01-29  excellent
5  2023-02-05       good
6  2023-02-12    average
7  2023-02-19  excellent
8  2023-02-26       good
9  2023-03-05    average
10 2023-03-12  excellent
11 2023-03-19       good
12 2023-03-26    average
13 2023-04-02  excellent
14 2023-04-09       good
15 2023-04-16    average
16 2023-04-23  excellent
17 2023-04-30       good
18 2023-05-07    average
19 2023-05-14  excellent
20 2023-05-21       good
21 2023-05-28    average
22 2023-06-04  excellent
23 2023-06-11       good
24 2023-06-18    average
25 2023-06-25  excellent
26 2023-07-02       good
27 2023-07-09    average
28 2023-07-16  excellent
29 2023-07-23       good
30 2023-07-30    average
31 2023-08-06  excellent
32 2023-08-13       good
33 2023-08-20    average
34 2023-08-27  excellent
35 2023-09-03       good
36 2023-09-10    average
37 2023-09-17  excellent
38 2023-09-24       good
39 2023-10-01    average
40 2023-10-08  excellent
41 2023-10-15       good
42 2023-10-22    average
43 2023-10-29  excellent
44 2023-11-05       good
45 2023-11-12    average
46 2023-11-19  excellent
47 2023-11-26       good
48 2023-12-03    average
49 2023-12-10  excellent

In [17]:
df.head(5)

,Order_Id,Customer_Id,Product,Category,Quantity,Price,Rating,OrderDate,Review
0,1,100,Mobile,Electronics,1,15000,1,2023-01-01,average
1,2,101,Laptop,Electronics,2,50000,2,2023-01-08,excellent
2,3,102,Mouse,Electronics,3,500,3,2023-01-15,good
3,4,103,Keyboard,Electronics,1,1200,4,2023-01-22,average
4,5,104,Headphones,Electronics,2,2500,5,2023-01-29,excellent

In [18]:
df.tail(5)

,Order_Id,Customer_Id,Product,Category,Quantity,Price,Rating,OrderDate,Review
45,46,145,Mobile,Electronics,1,15000,1,2023-11-12,average
46,47,146,Laptop,Electronics,2,50000,2,2023-11-19,excellent
47,48,147,Mouse,Electronics,3,500,3,2023-11-26,good
48,49,148,Keyboard,Electronics,1,1200,4,2023-12-03,average
49,50,149,Headphones,Electronics,2,2500,5,2023-12-10,excellent

In [19]:
# Q2: Use info() and describe() to get a comprehensive overview of the dataset
# Identify data types, missing values, and statistical summary
# Print the column names using columns attribute and shape of the dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Order_Id     50 non-null     int64
 1   Customer_Id  50 non-null     int64
 2   Product      50 non-null     object
 3   Category     50 non-null     object
 4   Quantity     50 non-null     int64
 5   Price        50 non-null     int64
 6   Rating       50 non-null     int64
 7   OrderDate    50 non-null     datetime64[ns]
 8   Review       50 non-null     object
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 3.6+ KB

In [20]:
df. describe()

,Order_Id,Customer_Id,Quantity,Price,Rating,OrderDate
count,50.00000,50.00000,50.000000,50.000000,50.000000,50
mean,25.50000,124.50000,1.980000,13840.000000,3.000000,2023-06-21 12:00:00
min,1.00000,100.00000,1.000000,500.000000,1.000000,2023-01-01 00:00:00
25%,13.25000,112.25000,1.000000,1200.000000,2.000000,2023-03-27 18:00:00
50%,25.50000,124.50000,2.000000,2500.000000,3.000000,2023-06-21 12:00:00
75%,37.75000,136.75000,3.000000,15000.000000,4.000000,2023-09-15 06:00:00
max,50.00000,149.00000,3.000000,50000.000000,5.000000,2023-12-10 00:00:00
std,14.57738,14.57738,0.820403,19033.868846,1.428571,NaN

In [21]:
df.columns

Index(['Order_Id', 'Customer_Id', 'Product', 'Category', 'Quantity', 'Price',
       'Rating', 'OrderDate', 'Review'],
      dtype='object')

In [22]:
df.shape

(50, 9)

In [23]:
df.dtypes

Order_Id                int64
Customer_Id             int64
Product                object
Category               object
Quantity                int64
Price                   int64
Rating                  int64
OrderDate      datetime64[ns]
Review                 object
dtype: object

In [24]:
# Q3: Introduce 10% missing values randomly in Rating and Review columns
# Detect missing values and display the count of missing values per column
# Fill missing ratings with the median rating and missing reviews with "No review provided"

In [27]:
df.loc[:4, "Rating"] = None
df.loc[5:9, "Review"] = None
print(df)

    Order_Id  Customer_Id     Product     Category  Quantity  Price  Rating  \
0          1          100      Mobile  Electronics         1  15000     NaN
1          2          101      Laptop  Electronics         2  50000     NaN
2          3          102       Mouse  Electronics         3    500     NaN
3          4          103    Keyboard  Electronics         1   1200     NaN
4          5          104  Headphones  Electronics         2   2500     NaN
5          6          105      Mobile  Electronics         3  15000     1.0
6          7          106      Laptop  Electronics         1  50000     2.0
7          8          107       Mouse  Electronics         2    500     3.0
8          9          108    Keyboard  Electronics         3   1200     4.0
9         10          109  Headphones  Electronics         1   2500     5.0
10        11          110      Mobile  Electronics         2  15000     1.0
11        12          111      Laptop  Electronics         3  50000     2.0
12        13          112       Mouse  Electronics         1    500     3.0
13        14          113    Keyboard  Electronics         2   1200     4.0
14        15          114  Headphones  Electronics         3   2500     5.0
15        16          115      Mobile  Electronics         1  15000     1.0
16        17          116      Laptop  Electronics         2  50000     2.0
17        18          117       Mouse  Electronics         3    500     3.0
18        19          118    Keyboard  Electronics         1   1200     4.0
19        20          119  Headphones  Electronics         2   2500     5.0
20        21          120      Mobile  Electronics         3  15000     1.0
21        22          121      Laptop  Electronics         1  50000     2.0
22        23          122       Mouse  Electronics         2    500     3.0
23        24          123    Keyboard  Electronics         3   1200     4.0
24        25          124  Headphones  Electronics         1   2500     5.0
25        26          125      Mobile  Electronics         2  15000     1.0
26        27          126      Laptop  Electronics         3  50000     2.0
27        28          127       Mouse  Electronics         1    500     3.0
28        29          128    Keyboard  Electronics         2   1200     4.0
29        30          129  Headphones  Electronics         3   2500     5.0
30        31          130      Mobile  Electronics         1  15000     1.0
31        32          131      Laptop  Electronics         2  50000     2.0
32        33          132       Mouse  Electronics         3    500     3.0
33        34          133    Keyboard  Electronics         1   1200     4.0
34        35          134  Headphones  Electronics         2   2500     5.0
35        36          135      Mobile  Electronics         3  15000     1.0
36        37          136      Laptop  Electronics         1  50000     2.0
37        38          137       Mouse  Electronics         2    500     3.0
38        39          138    Keyboard  Electronics         3   1200     4.0
39        40          139  Headphones  Electronics         1   2500     5.0
40        41          140      Mobile  Electronics         2  15000     1.0
41        42          141      Laptop  Electronics         3  50000     2.0
42        43          142       Mouse  Electronics         1    500     3.0
43        44          143    Keyboard  Electronics         2   1200     4.0
44        45          144  Headphones  Electronics         3   2500     5.0
45        46          145      Mobile  Electronics         1  15000     1.0
46        47          146      Laptop  Electronics         2  50000     2.0
47        48          147       Mouse  Electronics         3    500     3.0
48        49          148    Keyboard  Electronics         1   1200     4.0
49        50          149  Headphones  Electronics         2   2500     5.0

    OrderDate     Review
0  2023-01-01    average
1  2023-01-08  excellent
2  2023-01-15       good
3  2023-01-22    average
4  2023-01-29  excellent
5  2023-02-05       None
6  2023-02-12       None
7  2023-02-19       None
8  2023-02-26       None
9  2023-03-05       None
10 2023-03-12  excellent
11 2023-03-19       good
12 2023-03-26    average
13 2023-04-02  excellent
14 2023-04-09       good
15 2023-04-16    average
16 2023-04-23  excellent
17 2023-04-30       good
18 2023-05-07    average
19 2023-05-14  excellent
20 2023-05-21       good
21 2023-05-28    average
22 2023-06-04  excellent
23 2023-06-11       good
24 2023-06-18    average
25 2023-06-25  excellent
26 2023-07-02       good
27 2023-07-09    average
28 2023-07-16  excellent
29 2023-07-23       good
30 2023-07-30    average
31 2023-08-06  excellent
32 2023-08-13       good
33 2023-08-20    average
34 2023-08-27  excellent
35 2023-09-03       good
36 2023-09-10    average
37 2023-09-17  excellent
38 2023-09-24       good
39 2023-10-01    average
40 2023-10-08  excellent
41 2023-10-15       good
42 2023-10-22    average
43 2023-10-29  excellent
44 2023-11-05       good
45 2023-11-12    average
46 2023-11-19  excellent
47 2023-11-26       good
48 2023-12-03    average
49 2023-12-10  excellent

In [28]:
df.isnull()

,Order_Id,Customer_Id,Product,Category,Quantity,Price,Rating,OrderDate,Review
0,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,True,False,False
5,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False,True
7,False,False,False,False,False,False,False,False,True
8,False,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False

In [30]:
df.isnull().sum()

Order_Id       0
Customer_Id    0
Product        0
Category       0
Quantity       0
Price          0
Rating         5
OrderDate      0
Review         5
dtype: int64

In [31]:
df["Rating"].fillna(df["Rating"].median(),inplace=True)

C:\Users\Isha\AppData\Local\Temp\ipykernel_31340\723172565.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Rating"].fillna(df["Rating"].median(),inplace=True)

In [33]:
df["Rating"]=df["Rating"].fillna(df["Rating"].median())

In [34]:
print(df)

    Order_Id  Customer_Id     Product     Category  Quantity  Price  Rating  \
0          1          100      Mobile  Electronics         1  15000     3.0
1          2          101      Laptop  Electronics         2  50000     3.0
2          3          102       Mouse  Electronics         3    500     3.0
3          4          103    Keyboard  Electronics         1   1200     3.0
4          5          104  Headphones  Electronics         2   2500     3.0
5          6          105      Mobile  Electronics         3  15000     1.0
6          7          106      Laptop  Electronics         1  50000     2.0
7          8          107       Mouse  Electronics         2    500     3.0
8          9          108    Keyboard  Electronics         3   1200     4.0
9         10          109  Headphones  Electronics         1   2500     5.0
10        11          110      Mobile  Electronics         2  15000     1.0
11        12          111      Laptop  Electronics         3  50000     2.0
12        13          112       Mouse  Electronics         1    500     3.0
13        14          113    Keyboard  Electronics         2   1200     4.0
14        15          114  Headphones  Electronics         3   2500     5.0
15        16          115      Mobile  Electronics         1  15000     1.0
16        17          116      Laptop  Electronics         2  50000     2.0
17        18          117       Mouse  Electronics         3    500     3.0
18        19          118    Keyboard  Electronics         1   1200     4.0
19        20          119  Headphones  Electronics         2   2500     5.0
20        21          120      Mobile  Electronics         3  15000     1.0
21        22          121      Laptop  Electronics         1  50000     2.0
22        23          122       Mouse  Electronics         2    500     3.0
23        24          123    Keyboard  Electronics         3   1200     4.0
24        25          124  Headphones  Electronics         1   2500     5.0
25        26          125      Mobile  Electronics         2  15000     1.0
26        27          126      Laptop  Electronics         3  50000     2.0
27        28          127       Mouse  Electronics         1    500     3.0
28        29          128    Keyboard  Electronics         2   1200     4.0
29        30          129  Headphones  Electronics         3   2500     5.0
30        31          130      Mobile  Electronics         1  15000     1.0
31        32          131      Laptop  Electronics         2  50000     2.0
32        33          132       Mouse  Electronics         3    500     3.0
33        34          133    Keyboard  Electronics         1   1200     4.0
34        35          134  Headphones  Electronics         2   2500     5.0
35        36          135      Mobile  Electronics         3  15000     1.0
36        37          136      Laptop  Electronics         1  50000     2.0
37        38          137       Mouse  Electronics         2    500     3.0
38        39          138    Keyboard  Electronics         3   1200     4.0
39        40          139  Headphones  Electronics         1   2500     5.0
40        41          140      Mobile  Electronics         2  15000     1.0
41        42          141      Laptop  Electronics         3  50000     2.0
42        43          142       Mouse  Electronics         1    500     3.0
43        44          143    Keyboard  Electronics         2   1200     4.0
44        45          144  Headphones  Electronics         3   2500     5.0
45        46          145      Mobile  Electronics         1  15000     1.0
46        47          146      Laptop  Electronics         2  50000     2.0
47        48          147       Mouse  Electronics         3    500     3.0
48        49          148    Keyboard  Electronics         1   1200     4.0
49        50          149  Headphones  Electronics         2   2500     5.0

    OrderDate     Review
0  2023-01-01    average
1  2023-01-08  excellent
2  2023-01-15       good
3  2023-01-22    average
4  2023-01-29  excellent
5  2023-02-05       None
6  2023-02-12       None
7  2023-02-19       None
8  2023-02-26       None
9  2023-03-05       None
10 2023-03-12  excellent
11 2023-03-19       good
12 2023-03-26    average
13 2023-04-02  excellent
14 2023-04-09       good
15 2023-04-16    average
16 2023-04-23  excellent
17 2023-04-30       good
18 2023-05-07    average
19 2023-05-14  excellent
20 2023-05-21       good
21 2023-05-28    average
22 2023-06-04  excellent
23 2023-06-11       good
24 2023-06-18    average
25 2023-06-25  excellent
26 2023-07-02       good
27 2023-07-09    average
28 2023-07-16  excellent
29 2023-07-23       good
30 2023-07-30    average
31 2023-08-06  excellent
32 2023-08-13       good
33 2023-08-20    average
34 2023-08-27  excellent
35 2023-09-03       good
36 2023-09-10    average
37 2023-09-17  excellent
38 2023-09-24       good
39 2023-10-01    average
40 2023-10-08  excellent
41 2023-10-15       good
42 2023-10-22    average
43 2023-10-29  excellent
44 2023-11-05       good
45 2023-11-12    average
46 2023-11-19  excellent
47 2023-11-26       good
48 2023-12-03    average
49 2023-12-10  excellent

In [35]:
df["Review"].fillna("No review provided", inplace=True)
print(df)

    Order_Id  Customer_Id     Product     Category  Quantity  Price  Rating  \
0          1          100      Mobile  Electronics         1  15000     3.0
1          2          101      Laptop  Electronics         2  50000     3.0
2          3          102       Mouse  Electronics         3    500     3.0
3          4          103    Keyboard  Electronics         1   1200     3.0
4          5          104  Headphones  Electronics         2   2500     3.0
5          6          105      Mobile  Electronics         3  15000     1.0
6          7          106      Laptop  Electronics         1  50000     2.0
7          8          107       Mouse  Electronics         2    500     3.0
8          9          108    Keyboard  Electronics         3   1200     4.0
9         10          109  Headphones  Electronics         1   2500     5.0
10        11          110      Mobile  Electronics         2  15000     1.0
11        12          111      Laptop  Electronics         3  50000     2.0
12        13          112       Mouse  Electronics         1    500     3.0
13        14          113    Keyboard  Electronics         2   1200     4.0
14        15          114  Headphones  Electronics         3   2500     5.0
15        16          115      Mobile  Electronics         1  15000     1.0
16        17          116      Laptop  Electronics         2  50000     2.0
17        18          117       Mouse  Electronics         3    500     3.0
18        19          118    Keyboard  Electronics         1   1200     4.0
19        20          119  Headphones  Electronics         2   2500     5.0
20        21          120      Mobile  Electronics         3  15000     1.0
21        22          121      Laptop  Electronics         1  50000     2.0
22        23          122       Mouse  Electronics         2    500     3.0
23        24          123    Keyboard  Electronics         3   1200     4.0
24        25          124  Headphones  Electronics         1   2500     5.0
25        26          125      Mobile  Electronics         2  15000     1.0
26        27          126      Laptop  Electronics         3  50000     2.0
27        28          127       Mouse  Electronics         1    500     3.0
28        29          128    Keyboard  Electronics         2   1200     4.0
29        30          129  Headphones  Electronics         3   2500     5.0
30        31          130      Mobile  Electronics         1  15000     1.0
31        32          131      Laptop  Electronics         2  50000     2.0
32        33          132       Mouse  Electronics         3    500     3.0
33        34          133    Keyboard  Electronics         1   1200     4.0
34        35          134  Headphones  Electronics         2   2500     5.0
35        36          135      Mobile  Electronics         3  15000     1.0
36        37          136      Laptop  Electronics         1  50000     2.0
37        38          137       Mouse  Electronics         2    500     3.0
38        39          138    Keyboard  Electronics         3   1200     4.0
39        40          139  Headphones  Electronics         1   2500     5.0
40        41          140      Mobile  Electronics         2  15000     1.0
41        42          141      Laptop  Electronics         3  50000     2.0
42        43          142       Mouse  Electronics         1    500     3.0
43        44          143    Keyboard  Electronics         2   1200     4.0
44        45          144  Headphones  Electronics         3   2500     5.0
45        46          145      Mobile  Electronics         1  15000     1.0
46        47          146      Laptop  Electronics         2  50000     2.0
47        48          147       Mouse  Electronics         3    500     3.0
48        49          148    Keyboard  Electronics         1   1200     4.0
49        50          149  Headphones  Electronics         2   2500     5.0

    OrderDate              Review
0  2023-01-01             average
1  2023-01-08           excellent
2  2023-01-15                good
3  2023-01-22             average
4  2023-01-29           excellent
5  2023-02-05  No review provided
6  2023-02-12  No review provided
7  2023-02-19  No review provided
8  2023-02-26  No review provided
9  2023-03-05  No review provided
10 2023-03-12           excellent
11 2023-03-19                good
12 2023-03-26             average
13 2023-04-02           excellent
14 2023-04-09                good
15 2023-04-16             average
16 2023-04-23           excellent
17 2023-04-30                good
18 2023-05-07             average
19 2023-05-14           excellent
20 2023-05-21                good
21 2023-05-28             average
22 2023-06-04           excellent
23 2023-06-11                good
24 2023-06-18             average
25 2023-06-25           excellent
26 2023-07-02                good
27 2023-07-09             average
28 2023-07-16           excellent
29 2023-07-23                good
30 2023-07-30             average
31 2023-08-06           excellent
32 2023-08-13                good
33 2023-08-20             average
34 2023-08-27           excellent
35 2023-09-03                good
36 2023-09-10             average
37 2023-09-17           excellent
38 2023-09-24                good
39 2023-10-01             average
40 2023-10-08           excellent
41 2023-10-15                good
42 2023-10-22             average
43 2023-10-29           excellent
44 2023-11-05                good
45 2023-11-12             average
46 2023-11-19           excellent
47 2023-11-26                good
48 2023-12-03             average
49 2023-12-10           excellent

C:\Users\Isha\AppData\Local\Temp\ipykernel_31340\2395926160.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Review"].fillna("No review provided", inplace=True)

In [36]:
df["Rating"].fillna(df["Rating"].median(), inplace=True)
print(df)

    Order_Id  Customer_Id     Product     Category  Quantity  Price  Rating  \
0          1          100      Mobile  Electronics         1  15000     3.0
1          2          101      Laptop  Electronics         2  50000     3.0
2          3          102       Mouse  Electronics         3    500     3.0
3          4          103    Keyboard  Electronics         1   1200     3.0
4          5          104  Headphones  Electronics         2   2500     3.0
5          6          105      Mobile  Electronics         3  15000     1.0
6          7          106      Laptop  Electronics         1  50000     2.0
7          8          107       Mouse  Electronics         2    500     3.0
8          9          108    Keyboard  Electronics         3   1200     4.0
9         10          109  Headphones  Electronics         1   2500     5.0
10        11          110      Mobile  Electronics         2  15000     1.0
11        12          111      Laptop  Electronics         3  50000     2.0
12        13          112       Mouse  Electronics         1    500     3.0
13        14          113    Keyboard  Electronics         2   1200     4.0
14        15          114  Headphones  Electronics         3   2500     5.0
15        16          115      Mobile  Electronics         1  15000     1.0
16        17          116      Laptop  Electronics         2  50000     2.0
17        18          117       Mouse  Electronics         3    500     3.0
18        19          118    Keyboard  Electronics         1   1200     4.0
19        20          119  Headphones  Electronics         2   2500     5.0
20        21          120      Mobile  Electronics         3  15000     1.0
21        22          121      Laptop  Electronics         1  50000     2.0
22        23          122       Mouse  Electronics         2    500     3.0
23        24          123    Keyboard  Electronics         3   1200     4.0
24        25          124  Headphones  Electronics         1   2500     5.0
25        26          125      Mobile  Electronics         2  15000     1.0
26        27          126      Laptop  Electronics         3  50000     2.0
27        28          127       Mouse  Electronics         1    500     3.0
28        29          128    Keyboard  Electronics         2   1200     4.0
29        30          129  Headphones  Electronics         3   2500     5.0
30        31          130      Mobile  Electronics         1  15000     1.0
31        32          131      Laptop  Electronics         2  50000     2.0
32        33          132       Mouse  Electronics         3    500     3.0
33        34          133    Keyboard  Electronics         1   1200     4.0
34        35          134  Headphones  Electronics         2   2500     5.0
35        36          135      Mobile  Electronics         3  15000     1.0
36        37          136      Laptop  Electronics         1  50000     2.0
37        38          137       Mouse  Electronics         2    500     3.0
38        39          138    Keyboard  Electronics         3   1200     4.0
39        40          139  Headphones  Electronics         1   2500     5.0
40        41          140      Mobile  Electronics         2  15000     1.0
41        42          141      Laptop  Electronics         3  50000     2.0
42        43          142       Mouse  Electronics         1    500     3.0
43        44          143    Keyboard  Electronics         2   1200     4.0
44        45          144  Headphones  Electronics         3   2500     5.0
45        46          145      Mobile  Electronics         1  15000     1.0
46        47          146      Laptop  Electronics         2  50000     2.0
47        48          147       Mouse  Electronics         3    500     3.0
48        49          148    Keyboard  Electronics         1   1200     4.0
49        50          149  Headphones  Electronics         2   2500     5.0

    OrderDate              Review
0  2023-01-01             average
1  2023-01-08           excellent
2  2023-01-15                good
3  2023-01-22             average
4  2023-01-29           excellent
5  2023-02-05  No review provided
6  2023-02-12  No review provided
7  2023-02-19  No review provided
8  2023-02-26  No review provided
9  2023-03-05  No review provided
10 2023-03-12           excellent
11 2023-03-19                good
12 2023-03-26             average
13 2023-04-02           excellent
14 2023-04-09                good
15 2023-04-16             average
16 2023-04-23           excellent
17 2023-04-30                good
18 2023-05-07             average
19 2023-05-14           excellent
20 2023-05-21                good
21 2023-05-28             average
22 2023-06-04           excellent
23 2023-06-11                good
24 2023-06-18             average
25 2023-06-25           excellent
26 2023-07-02                good
27 2023-07-09             average
28 2023-07-16           excellent
29 2023-07-23                good
30 2023-07-30             average
31 2023-08-06           excellent
32 2023-08-13                good
33 2023-08-20             average
34 2023-08-27           excellent
35 2023-09-03                good
36 2023-09-10             average
37 2023-09-17           excellent
38 2023-09-24                good
39 2023-10-01             average
40 2023-10-08           excellent
41 2023-10-15                good
42 2023-10-22             average
43 2023-10-29           excellent
44 2023-11-05                good
45 2023-11-12             average
46 2023-11-19           excellent
47 2023-11-26                good
48 2023-12-03             average
49 2023-12-10           excellent

C:\Users\Isha\AppData\Local\Temp\ipykernel_31340\3623291961.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Rating"].fillna(df["Rating"].median(), inplace=True)

In [37]:
# Q4: Create a new column 'TotalAmount' by multiplying Quantity and Price
# Add another column 'DiscountedPrice' that applies 10% discount on orders above $100
# Use conditional selection to filter orders where TotalAmount > $150



df["Total_Amount"]= df["Quantity"]*df["Price"]
print(df)

    Order_Id  Customer_Id     Product     Category  Quantity  Price  Rating  \
0          1          100      Mobile  Electronics         1  15000     3.0
1          2          101      Laptop  Electronics         2  50000     3.0
2          3          102       Mouse  Electronics         3    500     3.0
3          4          103    Keyboard  Electronics         1   1200     3.0
4          5          104  Headphones  Electronics         2   2500     3.0
5          6          105      Mobile  Electronics         3  15000     1.0
6          7          106      Laptop  Electronics         1  50000     2.0
7          8          107       Mouse  Electronics         2    500     3.0
8          9          108    Keyboard  Electronics         3   1200     4.0
9         10          109  Headphones  Electronics         1   2500     5.0
10        11          110      Mobile  Electronics         2  15000     1.0
11        12          111      Laptop  Electronics         3  50000     2.0
12        13          112       Mouse  Electronics         1    500     3.0
13        14          113    Keyboard  Electronics         2   1200     4.0
14        15          114  Headphones  Electronics         3   2500     5.0
15        16          115      Mobile  Electronics         1  15000     1.0
16        17          116      Laptop  Electronics         2  50000     2.0
17        18          117       Mouse  Electronics         3    500     3.0
18        19          118    Keyboard  Electronics         1   1200     4.0
19        20          119  Headphones  Electronics         2   2500     5.0
20        21          120      Mobile  Electronics         3  15000     1.0
21        22          121      Laptop  Electronics         1  50000     2.0
22        23          122       Mouse  Electronics         2    500     3.0
23        24          123    Keyboard  Electronics         3   1200     4.0
24        25          124  Headphones  Electronics         1   2500     5.0
25        26          125      Mobile  Electronics         2  15000     1.0
26        27          126      Laptop  Electronics         3  50000     2.0
27        28          127       Mouse  Electronics         1    500     3.0
28        29          128    Keyboard  Electronics         2   1200     4.0
29        30          129  Headphones  Electronics         3   2500     5.0
30        31          130      Mobile  Electronics         1  15000     1.0
31        32          131      Laptop  Electronics         2  50000     2.0
32        33          132       Mouse  Electronics         3    500     3.0
33        34          133    Keyboard  Electronics         1   1200     4.0
34        35          134  Headphones  Electronics         2   2500     5.0
35        36          135      Mobile  Electronics         3  15000     1.0
36        37          136      Laptop  Electronics         1  50000     2.0
37        38          137       Mouse  Electronics         2    500     3.0
38        39          138    Keyboard  Electronics         3   1200     4.0
39        40          139  Headphones  Electronics         1   2500     5.0
40        41          140      Mobile  Electronics         2  15000     1.0
41        42          141      Laptop  Electronics         3  50000     2.0
42        43          142       Mouse  Electronics         1    500     3.0
43        44          143    Keyboard  Electronics         2   1200     4.0
44        45          144  Headphones  Electronics         3   2500     5.0
45        46          145      Mobile  Electronics         1  15000     1.0
46        47          146      Laptop  Electronics         2  50000     2.0
47        48          147       Mouse  Electronics         3    500     3.0
48        49          148    Keyboard  Electronics         1   1200     4.0
49        50          149  Headphones  Electronics         2   2500     5.0

    OrderDate              Review  Total_Amount
0  2023-01-01             average         15000
1  2023-01-08           excellent        100000
2  2023-01-15                good          1500
3  2023-01-22             average          1200
4  2023-01-29           excellent          5000
5  2023-02-05  No review provided         45000
6  2023-02-12  No review provided         50000
7  2023-02-19  No review provided          1000
8  2023-02-26  No review provided          3600
9  2023-03-05  No review provided          2500
10 2023-03-12           excellent         30000
11 2023-03-19                good        150000
12 2023-03-26             average           500
13 2023-04-02           excellent          2400
14 2023-04-09                good          7500
15 2023-04-16             average         15000
16 2023-04-23           excellent        100000
17 2023-04-30                good          1500
18 2023-05-07             average          1200
19 2023-05-14           excellent          5000
20 2023-05-21                good         45000
21 2023-05-28             average         50000
22 2023-06-04           excellent          1000
23 2023-06-11                good          3600
24 2023-06-18             average          2500
25 2023-06-25           excellent         30000
26 2023-07-02                good        150000
27 2023-07-09             average           500
28 2023-07-16           excellent          2400
29 2023-07-23                good          7500
30 2023-07-30             average         15000
31 2023-08-06           excellent        100000
32 2023-08-13                good          1500
33 2023-08-20             average          1200
34 2023-08-27           excellent          5000
35 2023-09-03                good         45000
36 2023-09-10             average         50000
37 2023-09-17           excellent          1000
38 2023-09-24                good          3600
39 2023-10-01             average          2500
40 2023-10-08           excellent         30000
41 2023-10-15                good        150000
42 2023-10-22             average           500
43 2023-10-29           excellent          2400
44 2023-11-05                good          7500
45 2023-11-12             average         15000
46 2023-11-19           excellent        100000
47 2023-11-26                good          1500
48 2023-12-03             average          1200
49 2023-12-10           excellent          5000

In [38]:
df["DiscountedPrice"]= df["Total_Amount"]
print(df[df["DiscountedPrice"]>1000])

    Order_Id  Customer_Id     Product     Category  Quantity  Price  Rating  \
0          1          100      Mobile  Electronics         1  15000     3.0
1          2          101      Laptop  Electronics         2  50000     3.0
2          3          102       Mouse  Electronics         3    500     3.0
3          4          103    Keyboard  Electronics         1   1200     3.0
4          5          104  Headphones  Electronics         2   2500     3.0
5          6          105      Mobile  Electronics         3  15000     1.0
6          7          106      Laptop  Electronics         1  50000     2.0
8          9          108    Keyboard  Electronics         3   1200     4.0
9         10          109  Headphones  Electronics         1   2500     5.0
10        11          110      Mobile  Electronics         2  15000     1.0
11        12          111      Laptop  Electronics         3  50000     2.0
13        14          113    Keyboard  Electronics         2   1200     4.0
14        15          114  Headphones  Electronics         3   2500     5.0
15        16          115      Mobile  Electronics         1  15000     1.0
16        17          116      Laptop  Electronics         2  50000     2.0
17        18          117       Mouse  Electronics         3    500     3.0
18        19          118    Keyboard  Electronics         1   1200     4.0
19        20          119  Headphones  Electronics         2   2500     5.0
20        21          120      Mobile  Electronics         3  15000     1.0
21        22          121      Laptop  Electronics         1  50000     2.0
23        24          123    Keyboard  Electronics         3   1200     4.0
24        25          124  Headphones  Electronics         1   2500     5.0
25        26          125      Mobile  Electronics         2  15000     1.0
26        27          126      Laptop  Electronics         3  50000     2.0
28        29          128    Keyboard  Electronics         2   1200     4.0
29        30          129  Headphones  Electronics         3   2500     5.0
30        31          130      Mobile  Electronics         1  15000     1.0
31        32          131      Laptop  Electronics         2  50000     2.0
32        33          132       Mouse  Electronics         3    500     3.0
33        34          133    Keyboard  Electronics         1   1200     4.0
34        35          134  Headphones  Electronics         2   2500     5.0
35        36          135      Mobile  Electronics         3  15000     1.0
36        37          136      Laptop  Electronics         1  50000     2.0
38        39          138    Keyboard  Electronics         3   1200     4.0
39        40          139  Headphones  Electronics         1   2500     5.0
40        41          140      Mobile  Electronics         2  15000     1.0
41        42          141      Laptop  Electronics         3  50000     2.0
43        44          143    Keyboard  Electronics         2   1200     4.0
44        45          144  Headphones  Electronics         3   2500     5.0
45        46          145      Mobile  Electronics         1  15000     1.0
46        47          146      Laptop  Electronics         2  50000     2.0
47        48          147       Mouse  Electronics         3    500     3.0
48        49          148    Keyboard  Electronics         1   1200     4.0
49        50          149  Headphones  Electronics         2   2500     5.0

    OrderDate              Review  Total_Amount  DiscountedPrice
0  2023-01-01             average         15000            15000
1  2023-01-08           excellent        100000           100000
2  2023-01-15                good          1500             1500
3  2023-01-22             average          1200             1200
4  2023-01-29           excellent          5000             5000
5  2023-02-05  No review provided         45000            45000
6  2023-02-12  No review provided         50000            50000
8  2023-02-26  No review provided          3600             3600
9  2023-03-05  No review provided          2500             2500
10 2023-03-12           excellent         30000            30000
11 2023-03-19                good        150000           150000
13 2023-04-02           excellent          2400             2400
14 2023-04-09                good          7500             7500
15 2023-04-16             average         15000            15000
16 2023-04-23           excellent        100000           100000
17 2023-04-30                good          1500             1500
18 2023-05-07             average          1200             1200
19 2023-05-14           excellent          5000             5000
20 2023-05-21                good         45000            45000
21 2023-05-28             average         50000            50000
23 2023-06-11                good          3600             3600
24 2023-06-18             average          2500             2500
25 2023-06-25           excellent         30000            30000
26 2023-07-02                good        150000           150000
28 2023-07-16           excellent          2400             2400
29 2023-07-23                good          7500             7500
30 2023-07-30             average         15000            15000
31 2023-08-06           excellent        100000           100000
32 2023-08-13                good          1500             1500
33 2023-08-20             average          1200             1200
34 2023-08-27           excellent          5000             5000
35 2023-09-03                good         45000            45000
36 2023-09-10             average         50000            50000
38 2023-09-24                good          3600             3600
39 2023-10-01             average          2500             2500
40 2023-10-08           excellent         30000            30000
41 2023-10-15                good        150000           150000
43 2023-10-29           excellent          2400             2400
44 2023-11-05                good          7500             7500
45 2023-11-12             average         15000            15000
46 2023-11-19           excellent        100000           100000
47 2023-11-26                good          1500             1500
48 2023-12-03             average          1200             1200
49 2023-12-10           excellent          5000             5000

In [42]:
df["DiscountedPrice"] = df["Total_Amount"]

df.loc[df["Total_Amount"] > 100, "DiscountedPrice"] = df["Total_Amount"] * 0.9
print(df)

    Order_Id  Customer_Id     Product     Category  Quantity  Price  Rating  \
0          1          100      Mobile  Electronics         1  15000     3.0
1          2          101      Laptop  Electronics         2  50000     3.0
2          3          102       Mouse  Electronics         3    500     3.0
3          4          103    Keyboard  Electronics         1   1200     3.0
4          5          104  Headphones  Electronics         2   2500     3.0
5          6          105      Mobile  Electronics         3  15000     1.0
6          7          106      Laptop  Electronics         1  50000     2.0
7          8          107       Mouse  Electronics         2    500     3.0
8          9          108    Keyboard  Electronics         3   1200     4.0
9         10          109  Headphones  Electronics         1   2500     5.0
10        11          110      Mobile  Electronics         2  15000     1.0
11        12          111      Laptop  Electronics         3  50000     2.0
12        13          112       Mouse  Electronics         1    500     3.0
13        14          113    Keyboard  Electronics         2   1200     4.0
14        15          114  Headphones  Electronics         3   2500     5.0
15        16          115      Mobile  Electronics         1  15000     1.0
16        17          116      Laptop  Electronics         2  50000     2.0
17        18          117       Mouse  Electronics         3    500     3.0
18        19          118    Keyboard  Electronics         1   1200     4.0
19        20          119  Headphones  Electronics         2   2500     5.0
20        21          120      Mobile  Electronics         3  15000     1.0
21        22          121      Laptop  Electronics         1  50000     2.0
22        23          122       Mouse  Electronics         2    500     3.0
23        24          123    Keyboard  Electronics         3   1200     4.0
24        25          124  Headphones  Electronics         1   2500     5.0
25        26          125      Mobile  Electronics         2  15000     1.0
26        27          126      Laptop  Electronics         3  50000     2.0
27        28          127       Mouse  Electronics         1    500     3.0
28        29          128    Keyboard  Electronics         2   1200     4.0
29        30          129  Headphones  Electronics         3   2500     5.0
30        31          130      Mobile  Electronics         1  15000     1.0
31        32          131      Laptop  Electronics         2  50000     2.0
32        33          132       Mouse  Electronics         3    500     3.0
33        34          133    Keyboard  Electronics         1   1200     4.0
34        35          134  Headphones  Electronics         2   2500     5.0
35        36          135      Mobile  Electronics         3  15000     1.0
36        37          136      Laptop  Electronics         1  50000     2.0
37        38          137       Mouse  Electronics         2    500     3.0
38        39          138    Keyboard  Electronics         3   1200     4.0
39        40          139  Headphones  Electronics         1   2500     5.0
40        41          140      Mobile  Electronics         2  15000     1.0
41        42          141      Laptop  Electronics         3  50000     2.0
42        43          142       Mouse  Electronics         1    500     3.0
43        44          143    Keyboard  Electronics         2   1200     4.0
44        45          144  Headphones  Electronics         3   2500     5.0
45        46          145      Mobile  Electronics         1  15000     1.0
46        47          146      Laptop  Electronics         2  50000     2.0
47        48          147       Mouse  Electronics         3    500     3.0
48        49          148    Keyboard  Electronics         1   1200     4.0
49        50          149  Headphones  Electronics         2   2500     5.0

    OrderDate              Review  Total_Amount  DiscountedPrice
0  2023-01-01             average         15000            13500
1  2023-01-08           excellent        100000            90000
2  2023-01-15                good          1500             1350
3  2023-01-22             average          1200             1080
4  2023-01-29           excellent          5000             4500
5  2023-02-05  No review provided         45000            40500
6  2023-02-12  No review provided         50000            45000
7  2023-02-19  No review provided          1000              900
8  2023-02-26  No review provided          3600             3240
9  2023-03-05  No review provided          2500             2250
10 2023-03-12           excellent         30000            27000
11 2023-03-19                good        150000           135000
12 2023-03-26             average           500              450
13 2023-04-02           excellent          2400             2160
14 2023-04-09                good          7500             6750
15 2023-04-16             average         15000            13500
16 2023-04-23           excellent        100000            90000
17 2023-04-30                good          1500             1350
18 2023-05-07             average          1200             1080
19 2023-05-14           excellent          5000             4500
20 2023-05-21                good         45000            40500
21 2023-05-28             average         50000            45000
22 2023-06-04           excellent          1000              900
23 2023-06-11                good          3600             3240
24 2023-06-18             average          2500             2250
25 2023-06-25           excellent         30000            27000
26 2023-07-02                good        150000           135000
27 2023-07-09             average           500              450
28 2023-07-16           excellent          2400             2160
29 2023-07-23                good          7500             6750
30 2023-07-30             average         15000            13500
31 2023-08-06           excellent        100000            90000
32 2023-08-13                good          1500             1350
33 2023-08-20             average          1200             1080
34 2023-08-27           excellent          5000             4500
35 2023-09-03                good         45000            40500
36 2023-09-10             average         50000            45000
37 2023-09-17           excellent          1000              900
38 2023-09-24                good          3600             3240
39 2023-10-01             average          2500             2250
40 2023-10-08           excellent         30000            27000
41 2023-10-15                good        150000           135000
42 2023-10-22             average           500              450
43 2023-10-29           excellent          2400             2160
44 2023-11-05                good          7500             6750
45 2023-11-12             average         15000            13500
46 2023-11-19           excellent        100000            90000
47 2023-11-26                good          1500             1350
48 2023-12-03             average          1200             1080
49 2023-12-10           excellent          5000             4500

In [44]:
df["DiscountedPrice"] = df["Total_Amount"].where(df["Total_Amount"] <= 100,
                                                df["Total_Amount"] * 0.9)
print(df)

    Order_Id  Customer_Id     Product     Category  Quantity  Price  Rating  \
0          1          100      Mobile  Electronics         1  15000     3.0
1          2          101      Laptop  Electronics         2  50000     3.0
2          3          102       Mouse  Electronics         3    500     3.0
3          4          103    Keyboard  Electronics         1   1200     3.0
4          5          104  Headphones  Electronics         2   2500     3.0
5          6          105      Mobile  Electronics         3  15000     1.0
6          7          106      Laptop  Electronics         1  50000     2.0
7          8          107       Mouse  Electronics         2    500     3.0
8          9          108    Keyboard  Electronics         3   1200     4.0
9         10          109  Headphones  Electronics         1   2500     5.0
10        11          110      Mobile  Electronics         2  15000     1.0
11        12          111      Laptop  Electronics         3  50000     2.0
12        13          112       Mouse  Electronics         1    500     3.0
13        14          113    Keyboard  Electronics         2   1200     4.0
14        15          114  Headphones  Electronics         3   2500     5.0
15        16          115      Mobile  Electronics         1  15000     1.0
16        17          116      Laptop  Electronics         2  50000     2.0
17        18          117       Mouse  Electronics         3    500     3.0
18        19          118    Keyboard  Electronics         1   1200     4.0
19        20          119  Headphones  Electronics         2   2500     5.0
20        21          120      Mobile  Electronics         3  15000     1.0
21        22          121      Laptop  Electronics         1  50000     2.0
22        23          122       Mouse  Electronics         2    500     3.0
23        24          123    Keyboard  Electronics         3   1200     4.0
24        25          124  Headphones  Electronics         1   2500     5.0
25        26          125      Mobile  Electronics         2  15000     1.0
26        27          126      Laptop  Electronics         3  50000     2.0
27        28          127       Mouse  Electronics         1    500     3.0
28        29          128    Keyboard  Electronics         2   1200     4.0
29        30          129  Headphones  Electronics         3   2500     5.0
30        31          130      Mobile  Electronics         1  15000     1.0
31        32          131      Laptop  Electronics         2  50000     2.0
32        33          132       Mouse  Electronics         3    500     3.0
33        34          133    Keyboard  Electronics         1   1200     4.0
34        35          134  Headphones  Electronics         2   2500     5.0
35        36          135      Mobile  Electronics         3  15000     1.0
36        37          136      Laptop  Electronics         1  50000     2.0
37        38          137       Mouse  Electronics         2    500     3.0
38        39          138    Keyboard  Electronics         3   1200     4.0
39        40          139  Headphones  Electronics         1   2500     5.0
40        41          140      Mobile  Electronics         2  15000     1.0
41        42          141      Laptop  Electronics         3  50000     2.0
42        43          142       Mouse  Electronics         1    500     3.0
43        44          143    Keyboard  Electronics         2   1200     4.0
44        45          144  Headphones  Electronics         3   2500     5.0
45        46          145      Mobile  Electronics         1  15000     1.0
46        47          146      Laptop  Electronics         2  50000     2.0
47        48          147       Mouse  Electronics         3    500     3.0
48        49          148    Keyboard  Electronics         1   1200     4.0
49        50          149  Headphones  Electronics         2   2500     5.0

    OrderDate              Review  Total_Amount  DiscountedPrice
0  2023-01-01             average         15000            13500
1  2023-01-08           excellent        100000            90000
2  2023-01-15                good          1500             1350
3  2023-01-22             average          1200             1080
4  2023-01-29           excellent          5000             4500
5  2023-02-05  No review provided         45000            40500
6  2023-02-12  No review provided         50000            45000
7  2023-02-19  No review provided          1000              900
8  2023-02-26  No review provided          3600             3240
9  2023-03-05  No review provided          2500             2250
10 2023-03-12           excellent         30000            27000
11 2023-03-19                good        150000           135000
12 2023-03-26             average           500              450
13 2023-04-02           excellent          2400             2160
14 2023-04-09                good          7500             6750
15 2023-04-16             average         15000            13500
16 2023-04-23           excellent        100000            90000
17 2023-04-30                good          1500             1350
18 2023-05-07             average          1200             1080
19 2023-05-14           excellent          5000             4500
20 2023-05-21                good         45000            40500
21 2023-05-28             average         50000            45000
22 2023-06-04           excellent          1000              900
23 2023-06-11                good          3600             3240
24 2023-06-18             average          2500             2250
25 2023-06-25           excellent         30000            27000
26 2023-07-02                good        150000           135000
27 2023-07-09             average           500              450
28 2023-07-16           excellent          2400             2160
29 2023-07-23                good          7500             6750
30 2023-07-30             average         15000            13500
31 2023-08-06           excellent        100000            90000
32 2023-08-13                good          1500             1350
33 2023-08-20             average          1200             1080
34 2023-08-27           excellent          5000             4500
35 2023-09-03                good         45000            40500
36 2023-09-10             average         50000            45000
37 2023-09-17           excellent          1000              900
38 2023-09-24                good          3600             3240
39 2023-10-01             average          2500             2250
40 2023-10-08           excellent         30000            27000
41 2023-10-15                good        150000           135000
42 2023-10-22             average           500              450
43 2023-10-29           excellent          2400             2160
44 2023-11-05                good          7500             6750
45 2023-11-12             average         15000            13500
46 2023-11-19           excellent        100000            90000
47 2023-11-26                good          1500             1350
48 2023-12-03             average          1200             1080
49 2023-12-10           excellent          5000             4500

In [46]:
high_value_orders = df[df["Total_Amount"] > 150]

high_value_orders

,Order_Id,Customer_Id,Product,Category,Quantity,Price,Rating,OrderDate,Review,Total_Amount,DiscountedPrice
0,1,100,Mobile,Electronics,1,15000,3.0,2023-01-01,average,15000,13500
1,2,101,Laptop,Electronics,2,50000,3.0,2023-01-08,excellent,100000,90000
2,3,102,Mouse,Electronics,3,500,3.0,2023-01-15,good,1500,1350
3,4,103,Keyboard,Electronics,1,1200,3.0,2023-01-22,average,1200,1080
4,5,104,Headphones,Electronics,2,2500,3.0,2023-01-29,excellent,5000,4500
5,6,105,Mobile,Electronics,3,15000,1.0,2023-02-05,No review provided,45000,40500
6,7,106,Laptop,Electronics,1,50000,2.0,2023-02-12,No review provided,50000,45000
7,8,107,Mouse,Electronics,2,500,3.0,2023-02-19,No review provided,1000,900
8,9,108,Keyboard,Electronics,3,1200,4.0,2023-02-26,No review provided,3600,3240
9,10,109,Headphones,Electronics,1,2500,5.0,2023-03-05,No review provided,2500,2250
10,11,110,Mobile,Electronics,2,15000,1.0,2023-03-12,excellent,30000,27000
11,12,111,Laptop,Electronics,3,50000,2.0,2023-03-19,good,150000,135000
12,13,112,Mouse,Electronics,1,500,3.0,2023-03-26,average,500,450
13,14,113,Keyboard,Electronics,2,1200,4.0,2023-04-02,excellent,2400,2160
14,15,114,Headphones,Electronics,3,2500,5.0,2023-04-09,good,7500,6750
15,16,115,Mobile,Electronics,1,15000,1.0,2023-04-16,average,15000,13500
16,17,116,Laptop,Electronics,2,50000,2.0,2023-04-23,excellent,100000,90000
17,18,117,Mouse,Electronics,3,500,3.0,2023-04-30,good,1500,1350
18,19,118,Keyboard,Electronics,1,1200,4.0,2023-05-07,average,1200,1080
19,20,119,Headphones,Electronics,2,2500,5.0,2023-05-14,excellent,5000,4500
20,21,120,Mobile,Electronics,3,15000,1.0,2023-05-21,good,45000,40500
21,22,121,Laptop,Electronics,1,50000,2.0,2023-05-28,average,50000,45000
22,23,122,Mouse,Electronics,2,500,3.0,2023-06-04,excellent,1000,900
23,24,123,Keyboard,Electronics,3,1200,4.0,2023-06-11,good,3600,3240
24,25,124,Headphones,Electronics,1,2500,5.0,2023-06-18,average,2500,2250
25,26,125,Mobile,Electronics,2,15000,1.0,2023-06-25,excellent,30000,27000
26,27,126,Laptop,Electronics,3,50000,2.0,2023-07-02,good,150000,135000
27,28,127,Mouse,Electronics,1,500,3.0,2023-07-09,average,500,450
28,29,128,Keyboard,Electronics,2,1200,4.0,2023-07-16,excellent,2400,2160
29,30,129,Headphones,Electronics,3,2500,5.0,2023-07-23,good,7500,6750
30,31,130,Mobile,Electronics,1,15000,1.0,2023-07-30,average,15000,13500
31,32,131,Laptop,Electronics,2,50000,2.0,2023-08-06,excellent,100000,90000
32,33,132,Mouse,Electronics,3,500,3.0,2023-08-13,good,1500,1350
33,34,133,Keyboard,Electronics,1,1200,4.0,2023-08-20,average,1200,1080
34,35,134,Headphones,Electronics,2,2500,5.0,2023-08-27,excellent,5000,4500
35,36,135,Mobile,Electronics,3,15000,1.0,2023-09-03,good,45000,40500
36,37,136,Laptop,Electronics,1,50000,2.0,2023-09-10,average,50000,45000
37,38,137,Mouse,Electronics,2,500,3.0,2023-09-17,excellent,1000,900
38,39,138,Keyboard,Electronics,3,1200,4.0,2023-09-24,good,3600,3240
39,40,139,Headphones,Electronics,1,2500,5.0,2023-10-01,average,2500,2250
40,41,140,Mobile,Electronics,2,15000,1.0,2023-10-08,excellent,30000,27000
41,42,141,Laptop,Electronics,3,50000,2.0,2023-10-15,good,150000,135000
42,43,142,Mouse,Electronics,1,500,3.0,2023-10-22,average,500,450
43,44,143,Keyboard,Electronics,2,1200,4.0,2023-10-29,excellent,2400,2160
44,45,144,Headphones,Electronics,3,2500,5.0,2023-11-05,good,7500,6750
45,46,145,Mobile,Electronics,1,15000,1.0,2023-11-12,average,15000,13500
46,47,146,Laptop,Electronics,2,50000,2.0,2023-11-19,excellent,100000,90000
47,48,147,Mouse,Electronics,3,500,3.0,2023-11-26,good,1500,1350
48,49,148,Keyboard,Electronics,1,1200,4.0,2023-12-03,average,1200,1080
49,50,149,Headphones,Electronics,2,2500,5.0,2023-12-10,excellent,5000,4500

In [51]:
# Q5: Select only the columns: Product, Category, TotalAmount, and Rating
# Filter and display all orders from the 'Electronics' category with Rating >= 4
selected_df = df[["Product", "Category", "Total_Amount", "Rating"]]
filtered_df = df.loc[
    (df["Category"] == "Electronics") & (df["Rating"] >= 4),
    ["Product", "Category", "Total_Amount", "Rating"]
]
print(selected_df)
filtered_df

       Product     Category  Total_Amount  Rating
0       Mobile  Electronics         15000     3.0
1       Laptop  Electronics        100000     3.0
2        Mouse  Electronics          1500     3.0
3     Keyboard  Electronics          1200     3.0
4   Headphones  Electronics          5000     3.0
5       Mobile  Electronics         45000     1.0
6       Laptop  Electronics         50000     2.0
7        Mouse  Electronics          1000     3.0
8     Keyboard  Electronics          3600     4.0
9   Headphones  Electronics          2500     5.0
10      Mobile  Electronics         30000     1.0
11      Laptop  Electronics        150000     2.0
12       Mouse  Electronics           500     3.0
13    Keyboard  Electronics          2400     4.0
14  Headphones  Electronics          7500     5.0
15      Mobile  Electronics         15000     1.0
16      Laptop  Electronics        100000     2.0
17       Mouse  Electronics          1500     3.0
18    Keyboard  Electronics          1200     4.0
19  Headphones  Electronics          5000     5.0
20      Mobile  Electronics         45000     1.0
21      Laptop  Electronics         50000     2.0
22       Mouse  Electronics          1000     3.0
23    Keyboard  Electronics          3600     4.0
24  Headphones  Electronics          2500     5.0
25      Mobile  Electronics         30000     1.0
26      Laptop  Electronics        150000     2.0
27       Mouse  Electronics           500     3.0
28    Keyboard  Electronics          2400     4.0
29  Headphones  Electronics          7500     5.0
30      Mobile  Electronics         15000     1.0
31      Laptop  Electronics        100000     2.0
32       Mouse  Electronics          1500     3.0
33    Keyboard  Electronics          1200     4.0
34  Headphones  Electronics          5000     5.0
35      Mobile  Electronics         45000     1.0
36      Laptop  Electronics         50000     2.0
37       Mouse  Electronics          1000     3.0
38    Keyboard  Electronics          3600     4.0
39  Headphones  Electronics          2500     5.0
40      Mobile  Electronics         30000     1.0
41      Laptop  Electronics        150000     2.0
42       Mouse  Electronics           500     3.0
43    Keyboard  Electronics          2400     4.0
44  Headphones  Electronics          7500     5.0
45      Mobile  Electronics         15000     1.0
46      Laptop  Electronics        100000     2.0
47       Mouse  Electronics          1500     3.0
48    Keyboard  Electronics          1200     4.0
49  Headphones  Electronics          5000     5.0

       Product     Category  Total_Amount  Rating
8     Keyboard  Electronics          3600     4.0
9   Headphones  Electronics          2500     5.0
13    Keyboard  Electronics          2400     4.0
14  Headphones  Electronics          7500     5.0
18    Keyboard  Electronics          1200     4.0
19  Headphones  Electronics          5000     5.0
23    Keyboard  Electronics          3600     4.0
24  Headphones  Electronics          2500     5.0
28    Keyboard  Electronics          2400     4.0
29  Headphones  Electronics          7500     5.0
33    Keyboard  Electronics          1200     4.0
34  Headphones  Electronics          5000     5.0
38    Keyboard  Electronics          3600     4.0
39  Headphones  Electronics          2500     5.0
43    Keyboard  Electronics          2400     4.0
44  Headphones  Electronics          7500     5.0
48    Keyboard  Electronics          1200     4.0
49  Headphones  Electronics          5000     5.0

In [52]:
#6
filtered_orders = df[
    ((df["Quantity"] > 2) & (df["Price"] < 50)) |
    (df["Rating"] == 5)
]
filtered_orders

,Order_Id,Customer_Id,Product,Category,Quantity,Price,Rating,OrderDate,Review,Total_Amount,DiscountedPrice
9,10,109,Headphones,Electronics,1,2500,5.0,2023-03-05,No review provided,2500,2250
14,15,114,Headphones,Electronics,3,2500,5.0,2023-04-09,good,7500,6750
19,20,119,Headphones,Electronics,2,2500,5.0,2023-05-14,excellent,5000,4500
24,25,124,Headphones,Electronics,1,2500,5.0,2023-06-18,average,2500,2250
29,30,129,Headphones,Electronics,3,2500,5.0,2023-07-23,good,7500,6750
34,35,134,Headphones,Electronics,2,2500,5.0,2023-08-27,excellent,5000,4500
39,40,139,Headphones,Electronics,1,2500,5.0,2023-10-01,average,2500,2250
44,45,144,Headphones,Electronics,3,2500,5.0,2023-11-05,good,7500,6750
49,50,149,Headphones,Electronics,2,2500,5.0,2023-12-10,excellent,5000,4500

In [53]:
len(filtered_orders)

9

In [55]:
#7
print(df.sort_values(by='OrderDate', ascending=False))

    Order_Id  Customer_Id     Product     Category  Quantity  Price  Rating  \
49        50          149  Headphones  Electronics         2   2500     5.0
48        49          148    Keyboard  Electronics         1   1200     4.0
47        48          147       Mouse  Electronics         3    500     3.0
46        47          146      Laptop  Electronics         2  50000     2.0
45        46          145      Mobile  Electronics         1  15000     1.0
44        45          144  Headphones  Electronics         3   2500     5.0
43        44          143    Keyboard  Electronics         2   1200     4.0
42        43          142       Mouse  Electronics         1    500     3.0
41        42          141      Laptop  Electronics         3  50000     2.0
40        41          140      Mobile  Electronics         2  15000     1.0
39        40          139  Headphones  Electronics         1   2500     5.0
38        39          138    Keyboard  Electronics         3   1200     4.0
37        38          137       Mouse  Electronics         2    500     3.0
36        37          136      Laptop  Electronics         1  50000     2.0
35        36          135      Mobile  Electronics         3  15000     1.0
34        35          134  Headphones  Electronics         2   2500     5.0
33        34          133    Keyboard  Electronics         1   1200     4.0
32        33          132       Mouse  Electronics         3    500     3.0
31        32          131      Laptop  Electronics         2  50000     2.0
30        31          130      Mobile  Electronics         1  15000     1.0
29        30          129  Headphones  Electronics         3   2500     5.0
28        29          128    Keyboard  Electronics         2   1200     4.0
27        28          127       Mouse  Electronics         1    500     3.0
26        27          126      Laptop  Electronics         3  50000     2.0
25        26          125      Mobile  Electronics         2  15000     1.0
24        25          124  Headphones  Electronics         1   2500     5.0
23        24          123    Keyboard  Electronics         3   1200     4.0
22        23          122       Mouse  Electronics         2    500     3.0
21        22          121      Laptop  Electronics         1  50000     2.0
20        21          120      Mobile  Electronics         3  15000     1.0
19        20          119  Headphones  Electronics         2   2500     5.0
18        19          118    Keyboard  Electronics         1   1200     4.0
17        18          117       Mouse  Electronics         3    500     3.0
16        17          116      Laptop  Electronics         2  50000     2.0
15        16          115      Mobile  Electronics         1  15000     1.0
14        15          114  Headphones  Electronics         3   2500     5.0
13        14          113    Keyboard  Electronics         2   1200     4.0
12        13          112       Mouse  Electronics         1    500     3.0
11        12          111      Laptop  Electronics         3  50000     2.0
10        11          110      Mobile  Electronics         2  15000     1.0
9         10          109  Headphones  Electronics         1   2500     5.0
8          9          108    Keyboard  Electronics         3   1200     4.0
7          8          107       Mouse  Electronics         2    500     3.0
6          7          106      Laptop  Electronics         1  50000     2.0
5          6          105      Mobile  Electronics         3  15000     1.0
4          5          104  Headphones  Electronics         2   2500     3.0
3          4          103    Keyboard  Electronics         1   1200     3.0
2          3          102       Mouse  Electronics         3    500     3.0
1          2          101      Laptop  Electronics         2  50000     3.0
0          1          100      Mobile  Electronics         1  15000     3.0

    OrderDate              Review  Total_Amount  DiscountedPrice
49 2023-12-10           excellent          5000             4500
48 2023-12-03             average          1200             1080
47 2023-11-26                good          1500             1350
46 2023-11-19           excellent        100000            90000
45 2023-11-12             average         15000            13500
44 2023-11-05                good          7500             6750
43 2023-10-29           excellent          2400             2160
42 2023-10-22             average           500              450
41 2023-10-15                good        150000           135000
40 2023-10-08           excellent         30000            27000
39 2023-10-01             average          2500             2250
38 2023-09-24                good          3600             3240
37 2023-09-17           excellent          1000              900
36 2023-09-10             average         50000            45000
35 2023-09-03                good         45000            40500
34 2023-08-27           excellent          5000             4500
33 2023-08-20             average          1200             1080
32 2023-08-13                good          1500             1350
31 2023-08-06           excellent        100000            90000
30 2023-07-30             average         15000            13500
29 2023-07-23                good          7500             6750
28 2023-07-16           excellent          2400             2160
27 2023-07-09             average           500              450
26 2023-07-02                good        150000           135000
25 2023-06-25           excellent         30000            27000
24 2023-06-18             average          2500             2250
23 2023-06-11                good          3600             3240
22 2023-06-04           excellent          1000              900
21 2023-05-28             average         50000            45000
20 2023-05-21                good         45000            40500
19 2023-05-14           excellent          5000             4500
18 2023-05-07             average          1200             1080
17 2023-04-30                good          1500             1350
16 2023-04-23           excellent        100000            90000
15 2023-04-16             average         15000            13500
14 2023-04-09                good          7500             6750
13 2023-04-02           excellent          2400             2160
12 2023-03-26             average           500              450
11 2023-03-19                good        150000           135000
10 2023-03-12           excellent         30000            27000
9  2023-03-05  No review provided          2500             2250
8  2023-02-26  No review provided          3600             3240
7  2023-02-19  No review provided          1000              900
6  2023-02-12  No review provided         50000            45000
5  2023-02-05  No review provided         45000            40500
4  2023-01-29           excellent          5000             4500
3  2023-01-22             average          1200             1080
2  2023-01-15                good          1500             1350
1  2023-01-08           excellent        100000            90000
0  2023-01-01             average         15000            13500

In [56]:
print(df.sort_values(by='Total_Amount', ascending=False))

    Order_Id  Customer_Id     Product     Category  Quantity  Price  Rating  \
11        12          111      Laptop  Electronics         3  50000     2.0
26        27          126      Laptop  Electronics         3  50000     2.0
41        42          141      Laptop  Electronics         3  50000     2.0
46        47          146      Laptop  Electronics         2  50000     2.0
16        17          116      Laptop  Electronics         2  50000     2.0
1          2          101      Laptop  Electronics         2  50000     3.0
31        32          131      Laptop  Electronics         2  50000     2.0
6          7          106      Laptop  Electronics         1  50000     2.0
36        37          136      Laptop  Electronics         1  50000     2.0
21        22          121      Laptop  Electronics         1  50000     2.0
20        21          120      Mobile  Electronics         3  15000     1.0
35        36          135      Mobile  Electronics         3  15000     1.0
5          6          105      Mobile  Electronics         3  15000     1.0
10        11          110      Mobile  Electronics         2  15000     1.0
40        41          140      Mobile  Electronics         2  15000     1.0
25        26          125      Mobile  Electronics         2  15000     1.0
0          1          100      Mobile  Electronics         1  15000     3.0
15        16          115      Mobile  Electronics         1  15000     1.0
45        46          145      Mobile  Electronics         1  15000     1.0
30        31          130      Mobile  Electronics         1  15000     1.0
29        30          129  Headphones  Electronics         3   2500     5.0
14        15          114  Headphones  Electronics         3   2500     5.0
44        45          144  Headphones  Electronics         3   2500     5.0
49        50          149  Headphones  Electronics         2   2500     5.0
34        35          134  Headphones  Electronics         2   2500     5.0
19        20          119  Headphones  Electronics         2   2500     5.0
4          5          104  Headphones  Electronics         2   2500     3.0
38        39          138    Keyboard  Electronics         3   1200     4.0
23        24          123    Keyboard  Electronics         3   1200     4.0
8          9          108    Keyboard  Electronics         3   1200     4.0
24        25          124  Headphones  Electronics         1   2500     5.0
39        40          139  Headphones  Electronics         1   2500     5.0
9         10          109  Headphones  Electronics         1   2500     5.0
13        14          113    Keyboard  Electronics         2   1200     4.0
43        44          143    Keyboard  Electronics         2   1200     4.0
28        29          128    Keyboard  Electronics         2   1200     4.0
47        48          147       Mouse  Electronics         3    500     3.0
17        18          117       Mouse  Electronics         3    500     3.0
2          3          102       Mouse  Electronics         3    500     3.0
32        33          132       Mouse  Electronics         3    500     3.0
3          4          103    Keyboard  Electronics         1   1200     3.0
48        49          148    Keyboard  Electronics         1   1200     4.0
18        19          118    Keyboard  Electronics         1   1200     4.0
33        34          133    Keyboard  Electronics         1   1200     4.0
37        38          137       Mouse  Electronics         2    500     3.0
7          8          107       Mouse  Electronics         2    500     3.0
22        23          122       Mouse  Electronics         2    500     3.0
12        13          112       Mouse  Electronics         1    500     3.0
27        28          127       Mouse  Electronics         1    500     3.0
42        43          142       Mouse  Electronics         1    500     3.0

    OrderDate              Review  Total_Amount  DiscountedPrice
11 2023-03-19                good        150000           135000
26 2023-07-02                good        150000           135000
41 2023-10-15                good        150000           135000
46 2023-11-19           excellent        100000            90000
16 2023-04-23           excellent        100000            90000
1  2023-01-08           excellent        100000            90000
31 2023-08-06           excellent        100000            90000
6  2023-02-12  No review provided         50000            45000
36 2023-09-10             average         50000            45000
21 2023-05-28             average         50000            45000
20 2023-05-21                good         45000            40500
35 2023-09-03                good         45000            40500
5  2023-02-05  No review provided         45000            40500
10 2023-03-12           excellent         30000            27000
40 2023-10-08           excellent         30000            27000
25 2023-06-25           excellent         30000            27000
0  2023-01-01             average         15000            13500
15 2023-04-16             average         15000            13500
45 2023-11-12             average         15000            13500
30 2023-07-30             average         15000            13500
29 2023-07-23                good          7500             6750
14 2023-04-09                good          7500             6750
44 2023-11-05                good          7500             6750
49 2023-12-10           excellent          5000             4500
34 2023-08-27           excellent          5000             4500
19 2023-05-14           excellent          5000             4500
4  2023-01-29           excellent          5000             4500
38 2023-09-24                good          3600             3240
23 2023-06-11                good          3600             3240
8  2023-02-26  No review provided          3600             3240
24 2023-06-18             average          2500             2250
39 2023-10-01             average          2500             2250
9  2023-03-05  No review provided          2500             2250
13 2023-04-02           excellent          2400             2160
43 2023-10-29           excellent          2400             2160
28 2023-07-16           excellent          2400             2160
47 2023-11-26                good          1500             1350
17 2023-04-30                good          1500             1350
2  2023-01-15                good          1500             1350
32 2023-08-13                good          1500             1350
3  2023-01-22             average          1200             1080
48 2023-12-03             average          1200             1080
18 2023-05-07             average          1200             1080
33 2023-08-20             average          1200             1080
37 2023-09-17           excellent          1000              900
7  2023-02-19  No review provided          1000              900
22 2023-06-04           excellent          1000              900
12 2023-03-26             average           500              450
27 2023-07-09             average           500              450
42 2023-10-22             average           500              450

In [58]:
df["SalesRank"] = df["Total_Amount"].rank(ascending=False)

In [61]:
print(df)

    Order_Id  Customer_Id     Product     Category  Quantity  Price  Rating  \
0          1          100      Mobile  Electronics         1  15000     3.0
1          2          101      Laptop  Electronics         2  50000     3.0
2          3          102       Mouse  Electronics         3    500     3.0
3          4          103    Keyboard  Electronics         1   1200     3.0
4          5          104  Headphones  Electronics         2   2500     3.0
5          6          105      Mobile  Electronics         3  15000     1.0
6          7          106      Laptop  Electronics         1  50000     2.0
7          8          107       Mouse  Electronics         2    500     3.0
8          9          108    Keyboard  Electronics         3   1200     4.0
9         10          109  Headphones  Electronics         1   2500     5.0
10        11          110      Mobile  Electronics         2  15000     1.0
11        12          111      Laptop  Electronics         3  50000     2.0
12        13          112       Mouse  Electronics         1    500     3.0
13        14          113    Keyboard  Electronics         2   1200     4.0
14        15          114  Headphones  Electronics         3   2500     5.0
15        16          115      Mobile  Electronics         1  15000     1.0
16        17          116      Laptop  Electronics         2  50000     2.0
17        18          117       Mouse  Electronics         3    500     3.0
18        19          118    Keyboard  Electronics         1   1200     4.0
19        20          119  Headphones  Electronics         2   2500     5.0
20        21          120      Mobile  Electronics         3  15000     1.0
21        22          121      Laptop  Electronics         1  50000     2.0
22        23          122       Mouse  Electronics         2    500     3.0
23        24          123    Keyboard  Electronics         3   1200     4.0
24        25          124  Headphones  Electronics         1   2500     5.0
25        26          125      Mobile  Electronics         2  15000     1.0
26        27          126      Laptop  Electronics         3  50000     2.0
27        28          127       Mouse  Electronics         1    500     3.0
28        29          128    Keyboard  Electronics         2   1200     4.0
29        30          129  Headphones  Electronics         3   2500     5.0
30        31          130      Mobile  Electronics         1  15000     1.0
31        32          131      Laptop  Electronics         2  50000     2.0
32        33          132       Mouse  Electronics         3    500     3.0
33        34          133    Keyboard  Electronics         1   1200     4.0
34        35          134  Headphones  Electronics         2   2500     5.0
35        36          135      Mobile  Electronics         3  15000     1.0
36        37          136      Laptop  Electronics         1  50000     2.0
37        38          137       Mouse  Electronics         2    500     3.0
38        39          138    Keyboard  Electronics         3   1200     4.0
39        40          139  Headphones  Electronics         1   2500     5.0
40        41          140      Mobile  Electronics         2  15000     1.0
41        42          141      Laptop  Electronics         3  50000     2.0
42        43          142       Mouse  Electronics         1    500     3.0
43        44          143    Keyboard  Electronics         2   1200     4.0
44        45          144  Headphones  Electronics         3   2500     5.0
45        46          145      Mobile  Electronics         1  15000     1.0
46        47          146      Laptop  Electronics         2  50000     2.0
47        48          147       Mouse  Electronics         3    500     3.0
48        49          148    Keyboard  Electronics         1   1200     4.0
49        50          149  Headphones  Electronics         2   2500     5.0

    OrderDate              Review  Total_Amount  DiscountedPrice  SalesRank
0  2023-01-01             average         15000            13500       18.5
1  2023-01-08           excellent        100000            90000        5.5
2  2023-01-15                good          1500             1350       38.5
3  2023-01-22             average          1200             1080       42.5
4  2023-01-29           excellent          5000             4500       25.5
5  2023-02-05  No review provided         45000            40500       12.0
6  2023-02-12  No review provided         50000            45000        9.0
7  2023-02-19  No review provided          1000              900       46.0
8  2023-02-26  No review provided          3600             3240       29.0
9  2023-03-05  No review provided          2500             2250       32.0
10 2023-03-12           excellent         30000            27000       15.0
11 2023-03-19                good        150000           135000        2.0
12 2023-03-26             average           500              450       49.0
13 2023-04-02           excellent          2400             2160       35.0
14 2023-04-09                good          7500             6750       22.0
15 2023-04-16             average         15000            13500       18.5
16 2023-04-23           excellent        100000            90000        5.5
17 2023-04-30                good          1500             1350       38.5
18 2023-05-07             average          1200             1080       42.5
19 2023-05-14           excellent          5000             4500       25.5
20 2023-05-21                good         45000            40500       12.0
21 2023-05-28             average         50000            45000        9.0
22 2023-06-04           excellent          1000              900       46.0
23 2023-06-11                good          3600             3240       29.0
24 2023-06-18             average          2500             2250       32.0
25 2023-06-25           excellent         30000            27000       15.0
26 2023-07-02                good        150000           135000        2.0
27 2023-07-09             average           500              450       49.0
28 2023-07-16           excellent          2400             2160       35.0
29 2023-07-23                good          7500             6750       22.0
30 2023-07-30             average         15000            13500       18.5
31 2023-08-06           excellent        100000            90000        5.5
32 2023-08-13                good          1500             1350       38.5
33 2023-08-20             average          1200             1080       42.5
34 2023-08-27           excellent          5000             4500       25.5
35 2023-09-03                good         45000            40500       12.0
36 2023-09-10             average         50000            45000        9.0
37 2023-09-17           excellent          1000              900       46.0
38 2023-09-24                good          3600             3240       29.0
39 2023-10-01             average          2500             2250       32.0
40 2023-10-08           excellent         30000            27000       15.0
41 2023-10-15                good        150000           135000        2.0
42 2023-10-22             average           500              450       49.0
43 2023-10-29           excellent          2400             2160       35.0
44 2023-11-05                good          7500             6750       22.0
45 2023-11-12             average         15000            13500       18.5
46 2023-11-19           excellent        100000            90000        5.5
47 2023-11-26                good          1500             1350       38.5
48 2023-12-03             average          1200             1080       42.5
49 2023-12-10           excellent          5000             4500       25.5

In [62]:
#Q8: Find the top 5 best-selling products based on total quantity sold
# Display the product name and total quantity in descending order
product_sales = df.groupby("Product")["Quantity"].sum()
product_sales = product_sales.sort_values(ascending=False)
top_5_products = product_sales.head(5)
top_5_products

Product
Mouse         21
Headphones    20
Laptop        20
Keyboard      19
Mobile        19
Name: Quantity, dtype: int64

In [64]:
#9
category_summary = df.groupby("Category").agg(
    Total_Sales=("Total_Amount", "sum"),
    Average_Rating=("Rating", "mean"),
    Number_of_Orders=("Category", "count")
)

category_summary = category_summary.sort_values(
    by="Total_Sales",
    ascending=False
)

category_summary

             Total_Sales  Average_Rating  Number_of_Orders
Category
Electronics      1368300             3.0                50

In [65]:
# Q10: Create a pivot table showing average Price for each Category and Rating combination
# Use groupby with multiple columns (Category, Product) and aggregate multiple functions
# Pivot Table
pivot_table = pd.pivot_table(
    df,
    values="Price",
    index="Category",
    columns="Rating",
    aggfunc="mean"
)


grouped_data = df.groupby(["Category", "Product"]).agg(
    Average_Price=("Price", "mean"),
    Total_Quantity=("Quantity", "sum"),
    Order_Count=("Product", "count")
)

pivot_table
grouped_data

                        Average_Price  Total_Quantity  Order_Count
Category    Product
Electronics Headphones         2500.0              20           10
            Keyboard           1200.0              19           10
            Laptop            50000.0              20           10
            Mobile            15000.0              19           10
            Mouse               500.0              21           10