In [1]:
#1
def show_number():
    x = 10      # local variable
    print("Inside function:", x)

show_number()

Inside function: 10

In [2]:
#2
def payment_details():
    global total
    total = 2299.0
    print("Total payment:", total)

payment_details()
print("Access outside:", total)

Total payment: 2299.0
Access outside: 2299.0

In [3]:
#3
count = 0

def increment():
    global count
    count += 1

increment()
increment()
increment()
print("Final count:", count)

Final count: 3

In [4]:
#4
total_sales = 0

def sale_day1(amount):
    global total_sales
    total_sales += amount

def sale_day2(amount):
    global total_sales
    total_sales += amount

sale_day1(1000)
sale_day2(1500)
print("Total sales:", total_sales)

Total sales: 2500

In [7]:
#5
def outer():
    msg = "Hello"

    def inner():
        print(msg)

    inner()

outer()

Hello

In [6]:
#6
def outer():
    x = 5

    def inner():
        nonlocal x
        x += 10

    inner()
    print(x)

outer()

15

In [8]:
#7
g = "Global"

def outer():
    e = "Enclosing"

    def middle():
        l = "Local"
        print(g)
        print(e)
        print(l)

    middle()

outer()

Global
Enclosing
Local

In [9]:
#8
x = 50

def show():
    x = 20
    print("Local x:", x)

show()
print("Global x:", x)

Local x: 20
Global x: 50

In [10]:
#9
x = "Global"

def outer():
    x = "Enclosing"

    def inner():
        x = "Local"
        print(x)

    inner()

outer()

Local

In [11]:
#10
def test():
    a = 10
    print(a)

test()

10

In [12]:
#11
def outer(a):
    def inner(b):
        print("Outer:", a)
        print("Inner:", b)
    inner(20)

outer(10)

Outer: 10
Inner: 20

In [13]:
#12
def marks(m1, m2, m3):
    def total():
        return m1 + m2 + m3
    print("Total marks:", total())

marks(70, 80, 90)

Total marks: 240

In [14]:
#13
def counter():
    count = 0

    def increase():
        nonlocal count
        count += 1
        print(count)

    increase()
    increase()
    increase()

counter()

1
2
3

In [15]:
#14
def multiplier(n):
    def multiply(x):
        return x * n
    return multiply

double = multiplier(2)
print(double(5))
print(double(10))

10
20

In [16]:
#15
def add(*numbers):
    print(sum(numbers))

add(1, 2, 3, 4)

10

In [17]:
#16
def find_max(*nums):
    print(max(nums))

find_max(3, 9, 2, 7)

9

In [18]:
#17
def student(**details):
    print(details)

student(name="Asha", age=20, grade="A")

{'name': 'Asha', 'age': 20, 'grade': 'A'}

In [19]:
#18
def employee(**data):
    print(data)

employee(name="Rahul", dept="IT", salary=50000)

{'name': 'Rahul', 'dept': 'IT', 'salary': 50000}

In [20]:
#19
def show(*args, **kwargs):
    print("Args:", args)
    print("Kwargs:", kwargs)

show(1, 2, 3, name="Ravi", city="Pune")

Args: (1, 2, 3)
Kwargs: {'name': 'Ravi', 'city': 'Pune'}

In [21]:
#20
def average_sales(*sales):
    print("Average:", sum(sales) / len(sales))

average_sales(1000, 2000, 3000)

Average: 2000.0

In [22]:
#21
def model(**config):
    print(config)

model(learning_rate=0.01, epochs=50)

{'learning_rate': 0.01, 'epochs': 50}

In [23]:
#22
def outer():
    def inner(*nums):
        print(sum(nums))
    inner(1, 2, 3)

outer()

6

In [24]:
#23
def employee(name, salary):
    def bonus():
        return salary * 0.10
    print(name, "Bonus:", bonus())

employee("Amit", 50000)

Amit Bonus: 5000.0

In [25]:
#24
def calls():
    count = 0

    def track():
        nonlocal count
        count += 1
        print("Called", count, "times")

    track()
    track()
    track()

calls()

Called 1 times
Called 2 times
Called 3 times

In [26]:
#25
data = "Global data"

def show():
    data = "Local data"
    print(data)

show()
print(data)

Local data
Global data

In [27]:
#26
def expenses():
    total = 0

    def add(amount):
        nonlocal total
        total += amount
        print("Total:", total)

    add(100)
    add(200)

expenses()

Total: 100
Total: 300

In [32]:
#27
def join_strings(*words):
    print(" ".join(words))

join_strings("Hello", "Python", "World")

Hello Python World

In [33]:
#28
def config(**settings):
    for k, v in settings.items():
        print(k, ":", v)

config(OS="Windows", RAM="8GB")

OS : Windows
RAM : 8GB

In [35]:
#29
def order(*items, **prices):
    print("Items:", items)
    print("Prices:", prices)

order("Pen", "Book", Pen=10, Book=50)

Items: ('Pen', 'Book')
Prices: {'Pen': 10, 'Book': 50}

In [36]:
#30
def salary(base):
    total = base

    def incentive(amount):
        nonlocal total
        total += amount
        print("Total salary:", total)

    incentive(2000)
    incentive(3000)

salary(20000)

Total salary: 22000
Total salary: 25000