In [12]:
#B
w1={
    "milk":29, "biscuit":10}
w2={"bread":50,"milk":20}


def common_product(w1,w2):
    return set(w1.keys()) & set( w2.keys())
def unique_product(w1,w2):
    return set(w1.keys()) | set(w2.keys())
def combined_product(w1,w2):
    combined={}
    combined.update(w1)
    combined.update(w2)
    return sorted(combined.items(),key= lambda x:x[1],reverse=True)

print("All COMMON PRODUCTS:",common_product(w1,w2))
print("ALL UNIQUE PRODUCTS:",unique_product(w1,w2))
print("descending order of quantity:",combined_product(w1,w2))

All COMMON PRODUCTS: {'milk'}
ALL UNIQUE PRODUCTS: {'bread', 'biscuit', 'milk'}
descending order of quantity: [('bread', 50), ('milk', 20), ('biscuit', 10)]

In [44]:
#A

def get_employees():
    emp={}
    n=int(input("enter no of employees:"))

    for i in range(n):
        name= input("enter the name of the emp:")
        skills= input("enter the skills of employee:").split(",")
        emp[name]=[s.strip() for s in skills]

    return emp

In [45]:
def python_sql(emp):
    print("employee with common skills python and sql:")
    for name in emp:
        if "python" in emp[name] and "sql" in emp[name]:
            print(name)

def unique_skills(emp):
    s=set()
    for skill in emp.values():
        s.update(skill)
        print("enter unique skills:",s)
def common_skill (emp):
    person=input("enter the employee name :",)
    if person not in emp:
        print("employee not found")
        return

    count=0
    base=set(emp[person])
    for name in emp:
        if person != name:
            if base & set(emp[name]):
                count +=1
    print("common employee:",count)

In [46]:
emp= get_employees()
python_sql(emp)
unique_skills(emp)
common_skill(emp)

enter no of employees: 3
enter the name of the emp: isha
enter the skills of employee: python,java
enter the name of the emp: bhakti
enter the skills of employee: python,sql
enter the name of the emp: rutuja
enter the skills of employee: python,sql

employee with common skills python and sql:
bhakti
rutuja
enter unique skills: {'java', 'python'}
enter unique skills: {'java', 'python', 'sql'}
enter unique skills: {'java', 'python', 'sql'}

enter the employee name : bhakti

common employee: 2

In [69]:
#c
def get_student():
    student={}
    n=int(input("enter the student no:"))
    
    for i in range(n):
        name=input("enter the student name:")
        course=tuple(input("enter the skills:").split(","))
        student[name]=tuple(c.strip() for c in course)
    return student

In [70]:
def ds_ai(student):
    print("students enrolled in boyth da and ai:")
    for name,course in student.items():
        if "ds" in course and "ai" in course:
            print(name)

In [71]:
def unique_course(student):
    all_courses=set()
    for course in student.values():
        all_courses.update(course)
        print("total no of unique course:",len(all_courses))

In [72]:
def non_repeated_courses(student):
    all_courses = []

    for courses in student.values():
        for c in courses:
            all_courses.append(c)

    print("\nCourses not repeated by any student:")
    for c in set(all_courses):
        if all_courses.count(c) == 1:
            print(c)

In [73]:
student=get_student()
ds_ai(student)
unique_course(student)
non_repeated_courses(student)

enter the student no: 3
enter the student name: isha
enter the skills: ai,ds
enter the student name: neha
enter the skills: ai,ds,pythin
enter the student name: shruti
enter the skills: python,java,ai

students enrolled in boyth da and ai:
isha
neha
total no of unique course: 2
total no of unique course: 3
total no of unique course: 5

Courses not repeated by any student:
pythin
python
java

In [ ]:
#4
# Take attendance for 5 days
def get_attendance():
    day1 = set(input("Day 1 students: ").split(","))
    day2 = set(input("Day 2 students: ").split(","))
    day3 = set(input("Day 3 students: ").split(","))
    day4 = set(input("Day 4 students: ").split(","))
    day5 = set(input("Day 5 students: ").split(","))

    return day1, day2, day3, day4, day5


# Students present every day
def present_every_day(d1, d2, d3, d4, d5):
    print("Present every day:", d1 & d2 & d3 & d4 & d5)


# Students absent at least one day
def absent_at_least_one_day(d1, d2, d3, d4, d5):
    all_students = d1 | d2 | d3 | d4 | d5
    present_all = d1 & d2 & d3 & d4 & d5
    print("Absent at least one day:", all_students - present_all)


# Total unique students
def total_unique_students(d1, d2, d3, d4, d5):
    all_students = d1 | d2 | d3 | d4 | d5
    print("Total unique students:", len(all_students))


# Function calls
d1, d2, d3, d4, d5 = get_attendance()
present_every_day(d1, d2, d3, d4, d5)
absent_at_least_one_day(d1, d2, d3, d4, d5)
total_unique_students(d1, d2, d3, d4, d5)

Day 1 students:  isha,bhakti
Day 2 students:  isha,bhakti
Day 3 students:  rutuja,bhakti
Day 4 students:  isha ,saniya