In [1]:
#1
students={
    "isha":85,"bhakti":90,"rutuja":80,"saniya":80,"shravani":70}
print(students)

{'isha': 85, 'bhakti': 90, 'rutuja': 80, 'saniya': 80, 'shravani': 70}

In [2]:
#2
print(students['isha'])

85

In [3]:
#3
students["aditi"]=95
print(students)

{'isha': 85, 'bhakti': 90, 'rutuja': 80, 'saniya': 80, 'shravani': 70, 'aditi': 95}

In [4]:
#4
students["saniya"]=70
print(students)

{'isha': 85, 'bhakti': 90, 'rutuja': 80, 'saniya': 70, 'shravani': 70, 'aditi': 95}

In [8]:
#5
del students["shravani"]

KeyError: 'shravani'

In [9]:
print(students)

{'isha': 85, 'bhakti': 90, 'rutuja': 80, 'saniya': 70, 'aditi': 95}

In [10]:
#6
print("all students names:",students.keys())

all students names: dict_keys(['isha', 'bhakti', 'rutuja', 'saniya', 'aditi'])

In [11]:
#7
print("all students marks:",students.values())

all students marks: dict_values([85, 90, 80, 70, 95])

In [12]:
#8
print("all students with marks:",students.items())

all students with marks: dict_items([('isha', 85), ('bhakti', 90), ('rutuja', 80), ('saniya', 70), ('aditi', 95)])

In [20]:
#9
print("is rutuja in student dictionary:","rutuja" in students.keys())

is rutuja in student dictionary: True

In [19]:
#10
print("is 85 in student dictionary:",85 in students.values())

is 85 in student dictionary: True

In [17]:
#11
print("print rutuja marks:",students.get("rutuja"))

print rutuja marks: 80

In [21]:
print(students.get("Rohan", "Student not found"))

Student not found

In [22]:
#12
employees = {
    "Ravi": "HR",
    "Anita": "IT",
    "Suresh": "Finance",
    "Pooja": "Marketing"
}
print(employees)

{'Ravi': 'HR', 'Anita': 'IT', 'Suresh': 'Finance', 'Pooja': 'Marketing'}

In [23]:
#13
employees["Ravi"]

'HR'

In [26]:
#14
employees[" Kalyani"]="Designing"
print(employees)

{'Ravi': 'HR', 'Anita': 'IT', 'Suresh': 'Finance', 'Pooja': 'Marketing', ' Kalyani': 'Designing'}

In [29]:
#15
employees['Suresh']='Operations'
print(employees)

{'Ravi': 'HR', 'Anita': 'IT', 'Suresh': 'Operations', 'Pooja': 'Marketing', ' Kalyani': 'Designing'}

In [30]:
#16
del employees['Suresh']
print(employees)

{'Ravi': 'HR', 'Anita': 'IT', 'Pooja': 'Marketing', ' Kalyani': 'Designing'}

In [32]:
#17 sort by keys
sort_ascending=dict(sorted(employees.items()))
print(sort_ascending)

{' Kalyani': 'Designing', 'Anita': 'IT', 'Pooja': 'Marketing', 'Ravi': 'HR'}

In [33]:
#18 by values
sorted_dept = dict(sorted(employees.items(), key=lambda x: x[1]))
print(sorted_dept)

{' Kalyani': 'Designing', 'Ravi': 'HR', 'Anita': 'IT', 'Pooja': 'Marketing'}

In [34]:
#19
sorted_names_desc = dict(sorted(employees.items(), reverse=True))
print(sorted_names_desc)

{'Ravi': 'HR', 'Pooja': 'Marketing', 'Anita': 'IT', ' Kalyani': 'Designing'}

In [35]:
#20
sorted_dept_desc = dict(sorted(employees.items(), key=lambda x: x[1], reverse=True))
print(sorted_dept_desc)

{'Pooja': 'Marketing', 'Anita': 'IT', 'Ravi': 'HR', ' Kalyani': 'Designing'}

In [36]:
#21
dept = "IT"
result = [k for k, v in employees.items() if v == dept]
print(result)

['Anita']

In [37]:

result = [k for k, v in employees.items() if v == "IT"]
print(result)

['Anita']

In [38]:
#22

count=sum(1 for m in students.values() if m>80)
print(count)

3

In [39]:
#23
student_info = {
    "Amit": {"age": 20, "grade": "A", "department": "CS"},
    "Neha": {"age": 21, "grade": "B", "department": "IT"},
    "Rahul": {"age": 22, "grade": "A+", "department": "ECE"}
}
print(student_info)

{'Amit': {'age': 20, 'grade': 'A', 'department': 'CS'}, 'Neha': {'age': 21, 'grade': 'B', 'department': 'IT'}, 'Rahul': {'age': 22, 'grade': 'A+', 'department': 'ECE'}}

In [40]:
#24
print(student_info["Rahul"]["grade"])

A+

In [43]:
#25
student_info["Neha"]["department"] = "AI"
print(student_info)

{'Amit': {'age': 20, 'grade': 'A', 'department': 'CS'}, 'Neha': {'age': 21, 'grade': 'B', 'department': 'AI'}, 'Rahul': {'age': 22, 'grade': 'A+', 'department': 'ECE'}}

In [44]:
#26
for name, details in student_info.items():
    print(name, ":", details["grade"])

Amit : A
Neha : B
Rahul : A+

In [45]:
#27
students2 = {"Rohan": 79, "Meena": 91}
merged = students | students2
print(merged)

{'isha': 85, 'bhakti': 90, 'rutuja': 80, 'saniya': 70, 'aditi': 95, 'Rohan': 79, 'Meena': 91}

In [46]:
#28
students.clear()

In [47]:
#29
new_students = merged.copy()
new_students["Amit"] = 95
print(new_students)

{'isha': 85, 'bhakti': 90, 'rutuja': 80, 'saniya': 70, 'aditi': 95, 'Rohan': 79, 'Meena': 91, 'Amit': 95}

In [48]:
#30
squares = {i: i*i for i in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}