In [1]:
#1
fruits=('apple','banana','cherry','mango','blueberry')
print(fruits)

('apple', 'banana', 'cherry', 'mango', 'blueberry')

In [5]:
#2
data=('apple',5,5.0,True)
print(data)

('apple', 5, 5.0, True)

In [6]:
print(type(data[0]))

<class 'str'>

In [7]:
print("the data type of 5 is:",type(data[1]) )     
print("the data type of 5.0 is:",type(data[2]))
print("the data type of True is:",type(data[3]))

the data type of 5 is: <class 'int'>
the data type of 5.0 is: <class 'float'>
the data type of True is: <class 'bool'>

In [8]:
#3 nested tuple
college=('mit',('pvg','aissms','coep','pict','sndt','dypatil'))
print(college)

('mit', ('pvg', 'aissms', 'coep', 'pict', 'sndt', 'dypatil'))

In [30]:
country=('india',('maharashtra','delhi','karnataka'))
print(country)

('india', ('maharashtra', 'delhi', 'karnataka'))

In [31]:
#4
print("last element of the tuple country:",country[1][2])

last element of the tuple country: karnataka

In [32]:
#4 by negative indexing
print("last element of the tuple country:",country[1][-1])

last element of the tuple country: karnataka

In [20]:
#5
print("print 1st three element:",fruits[:3])

print 1st three element: ('apple', 'banana', 'cherry')

In [33]:
#6
students=('sanika','isha','aishwarya','bhakthi','mahek')
print("number of students:",len(students))

number of students: 5

In [34]:
#7 max and min
marks=[68,78,99,100,85,55]
print("lowest marks:",min(marks))
print("highest marks:",max(marks))

lowest marks: 55
highest marks: 100

In [36]:
#8
sale_data=(24,45,68,90,100)
print("total sale:",sum(sale_data))

total sale: 327

In [37]:
#9 ascending
sorted_tuple=tuple(sorted(sale_data))
print(sorted_tuple)

(24, 45, 68, 90, 100)

In [38]:
#10 descending
sorted_tuple=tuple(sorted(sale_data,reverse=True))
print(sorted_tuple)

(100, 90, 68, 45, 24)

In [40]:
#11 count
numbers=(1,2,3,3,2,1,5,6,7,7)
print("count no of 2:",numbers.count(2))

count no of 2: 2

In [41]:
#12index()
print("index of 24 in sales_data:",sale_data.index(24))

index of 24 in sales_data: 0

In [46]:
#13 in keyword
languages=('python','DSA','JAVA','C++')
print("is python in language:",'python'in languages)

is python in language: True

In [47]:
#14
print("is python in language:",'C++'not in languages)

is python in language: False

In [48]:
#15
numbers=tuple(range(1,11))
print("tuple created from range:",numbers)

tuple created from range: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [49]:
#16,17
Boolean =(True,True,False,False)
print("any one value is true:",any(Boolean))
print("all values are true:",all(Boolean))

any one value is true: True
all values are true: False

In [50]:
#18
firstname=("isha")
lastname=("kadam")
combined=firstname+lastname
print(combined)

ishakadam

In [52]:
#19
repeat_tuple=('AI','ML')*3
print(repeat_tuple)

('AI', 'ML', 'AI', 'ML', 'AI', 'ML')

In [53]:
#20
name=('isha','sanika','bhakti')
score=(85,75,95)
combined=tuple(zip(name,score))
print(combined)

(('isha', 85), ('sanika', 75), ('bhakti', 95))

In [54]:
#21
reversed_no=tuple(reversed(combined))
print(reversed_no)

(('bhakti', 95), ('sanika', 75), ('isha', 85))

In [55]:
#22
print("alphbetically first:",min(name))
print("alphabetically last:",max(name))

alphbetically first: bhakti
alphabetically last: sanika

In [56]:
#23
student=("Isha","Te","IT")
print(student)

('Isha', 'Te', 'IT')

In [57]:
name,year,department=student
print("Name:",name)
print("Year:",year)
print("department:",department)

Name: Isha
Year: Te
department: IT

In [59]:
#24 immutability 
num=(1,2,3,4,5)
num[0]=1
print(num)
print(num.remove(1))

TypeError: 'tuple' object does not support item assignment

In [75]:
#25 compare  the memory size of a list and tuple containing the same elements using sys.getsizeof()

my_list=[1,2,3,4,5]
my_tuple=(1,2,3,4,5)
print("Size of the list:",sys.getsizeof(my_list))
print("Size of the tuple:",sys.getsizeof(my_tuple))

Size of the list: 104
Size of the tuple: 80

In [61]:
#26
numbers1=(1,2,3,4,5,6,7,8,9,10)
print("average value of numbers:",sum(numbers1)/len(numbers))

average value of numbers: 5.5

In [69]:
#27
city_names=('mumbai','pune','delhi','hydrabad')
print("print city names in reverse order:",city_names[::-1])

print city names in reverse order: ('hydrabad', 'delhi', 'pune', 'mumbai')

In [72]:
#28
converted_list=list(numbers1)
converted_list.append(11)
print(converted_list)
number1=tuple(converted_list)
print(numbers1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [73]:
#29
employee=('bhakti',20,'AIDS')
print(employee)
name,age,department=employee
print("name:",name)
print("Age:",age)
print("Department:",department)

('bhakti', 20, 'AIDS')
name: bhakti
Age: 20
Department: AIDS

In [74]:
#30
product_name=('lipbalm','moistuerizer','sunscreen','cheektint')
price=(150,180,250,99)
combined=tuple(zip(product_name,price))
print(combined)

(('lipbalm', 150), ('moistuerizer', 180), ('sunscreen', 250), ('cheektint', 99))