In [1]:
#1
country={"india","bangladeACsh","pakistan","nepal","shrilanka"}
print(country)

{'pakistan', 'bangladeACsh', 'shrilanka', 'india', 'nepal'}

In [2]:
#2
numbers={1,2,3,4,2,1,4,7,3}
print(numbers)

{1, 2, 3, 4, 7}

In [3]:
#3
fruits=['apple','banana','chickoo']
fruit1=set(fruits)
print(fruit1)

{'apple', 'banana', 'chickoo'}

In [4]:
#4
fruits={'apple','banana','mango'}
print(fruits)

{'mango', 'apple', 'banana'}

In [5]:
fruits.add("cherry")

In [6]:
print("adding cherry to fruit list:",fruits)

adding cherry to fruit list: {'mango', 'cherry', 'apple', 'banana'}

In [7]:
#5
fruits.update(['pineapple','mulberry'])
print("udated list:",fruits)

udated list: {'mango', 'pineapple', 'cherry', 'apple', 'banana', 'mulberry'}

In [8]:
#6
fruits.add("apple")
print(fruits)

{'mango', 'pineapple', 'cherry', 'apple', 'banana', 'mulberry'}

In [9]:
#7
fruits.remove('pineapple')
print(fruits)

{'mango', 'cherry', 'apple', 'banana', 'mulberry'}

In [10]:
#8
fruits.discard('strawberry')
print(fruits)

{'mango', 'cherry', 'apple', 'banana', 'mulberry'}

In [11]:
#9
removed_element=fruits.pop()
print(fruits)
print("removed_element in list fruit:",removed_element)

{'cherry', 'apple', 'banana', 'mulberry'}
removed_element in list fruit: mango

In [12]:
#10
fruits.clear()
print(fruits)

set()

In [13]:
#11,12,13,14
A={1,2,3,4,5}
B={6,7,8,9,10}
print("union of two sets :",A|B)
print("intersection of two sets:",A&B)
print("difference  of two sets:",A-B)
print("symmetic diiference of two sets:",A^B)

union of two sets : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
intersection of two sets: set()
difference  of two sets: {1, 2, 3, 4, 5}
symmetic diiference of two sets: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [14]:
#15,16,17
A={1,2,3,4,5,6,7,8,9}
B={7,8,3,4,2,1,9}
print("A is subset of b:",A .issubset(B))
print("A is superset of b:",A.issuperset(B))
print("A disjoint b:",A.isdisjoint(B))

A is subset of b: False
A is superset of b: True
A disjoint b: False

In [15]:
#18
print("check 3 in a is present:",3 in A)

check 3 in a is present: True

In [16]:
#19
print("check 3 is not in a is present:",3 not  in A)

check 3 is not in a is present: False

In [17]:
#20
print("length of set A:",len(A))

length of set A: 9

In [18]:
#21
print("maximum element in set A:",max(A))

maximum element in set A: 9

In [19]:
#21
print("minimum element in set A:",min(A))

minimum element in set A: 1

In [20]:
#22
print("sum of elements in set A:",sum(A))

sum of elements in set A: 45

In [21]:
#23,24

a={1,4,3,7,6,9,34,78,99,100}
asecnding=tuple(sorted(a))
print(asecnding)
desending=tuple(sorted(a,reverse=True))
print(desending)

(1, 3, 4, 6, 7, 9, 34, 78, 99, 100)
(100, 99, 78, 34, 9, 7, 6, 4, 3, 1)

In [22]:
#25
set={0,0,0}
print("at least one true value exust in boolean:",any(set))

at least one true value exust in boolean: False

In [23]:
set1={1,2,3,4,5,6}
print(set1)

{1, 2, 3, 4, 5, 6}

In [24]:
#27
set1={1,2,3,4,5,6}
numbers=set1.copy()
print(numbers)

{1, 2, 3, 4, 5, 6}

In [26]:
#27
numbers.add(9)
print(numbers)

{1, 2, 3, 4, 5, 6, 9}

In [33]:
#28
numbers={1,2,3,4}
del numbers

In [37]:
#29
sub=['ai','ml','dsa','python','java']
print(sub)

['ai', 'ml', 'dsa', 'python', 'java']

In [38]:
sub1=set(sub)
print(sub1)

TypeError: 'set' object is not callable

In [1]:
#30
classA={'abhishek','rahul','om','shravan'}
classB={'rahul','omkar','aditya','sanskar'}
print("common students:",classA&classB)

common students: {'rahul'}

In [2]:
print("student only in class A:",classA-classB)

student only in class A: {'om', 'shravan', 'abhishek'}

In [3]:
print("all unique students:",classA|classB)

all unique students: {'shravan', 'omkar', 'aditya', 'abhishek', 'om', 'rahul', 'sanskar'}